/* ======================================================================================
   @HELPERS -> DISPLAY
   ====================================================================================== */

/**
 * Apply different display properties.
 */

.h-block {display: block !important;}

.h-inline {display: inline !important;}

.h-inline-block {display: inline-block !important;}

/**
 * Table.
 */

.h-table {display: table !important;}

.h-table-row {display: table-row !important;}

.h-table-cell {display: table-cell !important;}