/* ======================================================================================
   @HELPERS -> SPACING
   ====================================================================================== */

/*
	Apply spacing via the base bottom margin or variants of it e.g. half/double, can also apply top margins, or to remove spacing applied via margins use any of the `.flush` classes.

  N.B. Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions!
 *
 * https://github.com/stubbornella/oocss/blob/master/oocss/src/components/whitespace/_whitespace.scss
*/

/* Base */
.mrg-base {@include to-rem(margin-bottom, $spacing-base, !important);}

.mrg-base-top {@include to-rem(margin-top, $spacing-base, !important);}

/* Double */
.mrg-dbl {@include to-rem(margin-bottom, $spacing-dbl, !important);}

.mrg-dbl-top {@include to-rem(margin-top, $spacing-dbl, !important);}

/* Triple */
.mrg-triple {@include to-rem(margin-bottom, $spacing-triple, !important);}

.mrg-triple-top {@include to-rem(margin-top, $spacing-triple, !important);}

/* Quadruple */
.mrg-quadruple {@include to-rem(margin-bottom, $spacing-quadruple, !important);}

.mrg-quadruple-top {@include to-rem(margin-top, $spacing-quadruple, !important);}

/* Half */
.mrg-half {@include to-rem(margin-bottom, $spacing-half, !important);}

.mrg-half-top {@include to-rem(margin-top, $spacing-half, !important);}

/* Third */
.mrg-third {@include to-rem(margin-bottom, $spacing-third, !important);}

.mrg-third-top {@include to-rem(margin-top, $spacing-third, !important);}

/* Quarter */
.mrg-quarter {@include to-rem(margin-bottom, $spacing-quarter, !important);}

.mrg-quarter-top {@include to-rem(margin-top, $spacing-quarter, !important);}

/* Micro */
.mrg-micro {@include to-rem(margin-bottom, 2, !important);}

.mrg-micro-top {@include to-rem(margin-top, 2, !important);}


/* Flush */
.flush {margin: 0 !important;}

.flush-top {margin-top: 0 !important;}

.flush-right {margin-right: 0 !important;}

.flush-btm {margin-bottom: 0 !important;}

.flush-left {margin-left: 0 !important;}

.flush-ends {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.flush-sides {
	margin-right: 0 !important;
	margin-left: 0 !important;
}