/* ======================================================================================
   @HELPERS -> VERTICAL ALIGNMENTS
   ====================================================================================== */

/**
 * Apply different vertical alignments.
 */

.h-align-top {vertical-align: top !important;}

.h-align-middle {vertical-align: middle !important;}

.h-align-baseline {vertical-align: baseline !important;}

.h-align-bottom {vertical-align: bottom !important;}