/* ============================================================================
   @CORE -> FUNCTIONS -> STRIP UNIT
   ========================================================================= */


/**
 * To strip units from a number.
 *
 * N.B. This function is used internally by the functions and mixins.
 *
 * @credit
 * https://css-tricks.com/snippets/sass/strip-unit-function/
 *
 * @example
   strip-unit(14px);
 *
 */


@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}