/* ============================================================================
   @CORE -> FUNCTIONS -> STRING REPLACE
   ========================================================================= */


/**
 * A string helper which replaces a set of characters in a string.
 *
 * @credit
 * http://sassmeister.com/gist/1b4f2da5527830088e4d
 *
 * @example
   str-replace("my-long-string", "long", "longer");
 */


@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }// endif

  @return $string;
}