/* ============================================================================
   @CORE -> FUNCTIONS -> TINT & SHADE
   ========================================================================= */


/**
 * Two simple functions that slightly lighten or darken a colour by using the
 * mix function.
 *
 * @credit
 * http://sass-guidelin.es/#lightening-and-darkening-colors
 *
 * @example
   .foo {
     color: tiny(red, 10%);;
   }

   .foo {
     background-color: shade(#f2f2f2, 10%);;
   }
 */


/**
 * Tint: slightly lighten a colour.
 */

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}


/**
 * Shade: slightly darken a colour.
 */

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}