/* ======================================================================================
   @BUTTONS -> MAIN
   ====================================================================================== */

/*
  The main buttons for the site.

  .btn--main-dark         - Dark
  .btn--main-dark         - Compact

  Styleguide Button Main
*/

.btn--main {
  line-height: normal;
  @include to-em(padding, $spacing-half $spacing-base);
  border-radius: $border-radius;

  /* Bg colour combined with disabled state */
  &,
  &[disabled].btn,
  &.is-disabled.btn {background-color: $color-btn-primary;}

  &,
  &:visited,
  &:hover,
  &:focus {color: $color-white;}

  &:hover,
  &:focus {background-color: lighten($color-btn-primary, 10%);}
}

/* Modifier: dark colour */
.btn--main-dark {
	&,
	&[disabled].btn,
	&.is-disabled.btn {background-color: $color-btn-secondary;}

	&:hover,
	&:focus {background-color: lighten($color-btn-secondary, 10%);}
}

/* Modifier: compact */
.btn--compact {@include to-em(padding, $spacing-half);}