/* ======================================================================================
   @ABSTRACTIONS -> COMPLEX LINK
   ====================================================================================== */

/*
	Add link styles to only selected items within links.

	Styleguide Complex Link
*/

/*
	Note: the base link styles are repeated here so not very DRY (need to look into this).

	Credit: http://github.com/necolas/suit-utils/blob/master/link.css#L18
*/

.complex-link {
	@extend %disguised-link;

	&:hover .complex-link__target,
	&:focus .complex-link__target {color: $color-link-hover;}
}

	.complex-link__target {
		@extend %transition-subtle;
		color: $color-link;
		cursor: pointer;
		text-decoration: none;
	}