/* ======================================================================================
   @ABSTRACTIONS -> FLAG
   ====================================================================================== */

/*
  Place any image- and text-like content side-by-side with vertical alignment.

  .flag--shrink-wrap          - Shrink wrap
  .flag--gutter-half          - Half gutter between image- and text-like content
  .flag--rev                  - Reverse the positioning of image- and text-like content
  .flag--align-top            - Top alignment
  .flag--align-btm            - Bottom alignment

  Styleguide Flag
*/

/*
  Note: same as the 'Slat' abstraction but we get vertical alignment.

  Credit: http://csswizardry.com/2013/05/the-flag-object/
*/

.flag {
  display: table;
  width: 100%;
}

/* Modifier: shrink wrap */
.flag--shrink-wrap {width: auto;}

  .flag__img,
  .flag__body {
    display: table-cell;
    vertical-align: middle;

    /* Modifier: top alignment */
    .flag--align-top & {vertical-align: top;}

    /* Modifier: bottom alignment */
    .flag--align-btm & {vertical-align: bottom;}
  }

  .flag__img {
    @include to-rem(padding-right, $spacing-base);

    /* Modifier: half spacing between image- and text-like content */
    .flag--gutter-half & {@include to-rem(padding-right, $spacing-half);}

    /* Modifier: reverse the positioning of image- and text-like content */
    .flag--rev & {
      padding-right: 0;
      @include to-rem(padding-left, $spacing-base);
    }

    /* Modifier: half spacing between image- and text-like content when used with 'Reversed' modifier */
    .flag--rev.flag--gutter-half & {@include to-rem(padding-left, $spacing-half);}
  }