/* ======================================================================================
   @HELPERS -> FLOAT
   ====================================================================================== */

/**
 * Apply floats or remove them.
 */

.h-float-left {float: left !important;}

.h-float-right {float: right !important;}

.h-float-none {float: none !important;}