/* ======================================================================================
   @HELPERS -> PULL
   ====================================================================================== */

/*
	Pull elements to the left, right or center of their parent container. Elements pulled to the left or right are floated with any surrounding element(s) flowing around it. Typical usage is for aligning images to either the left or right of it's accompanying content.
*/

.pull {
	@extend %bottom-spacing;

	img {display: block;}
}

/* Modifier: left */
.pull--left {
	float: left;
	@include to-rem(margin-right, $spacing-base);
}

/* Modifier: right */
.pull--right {
	float: right;
	@include to-rem(margin-left, $spacing-base);
}

/* Modifier: center */
.pull--center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}