/* ======================================================================================
   @HELPERS -> TEXT
   ====================================================================================== */

/**
 * Apply various text helper classes.
*/

/**
 * Size.
 */

.text-small {@include font-size($font-size-sml, $sledgehammer: !important);}

.text-large {@include font-size($font-size-lrg, $sledgehammer: !important);}

/**
 * Alignment.
 */

.h-text-center {text-align: center !important;}

.h-text-left {text-align: left !important;}

.h-text-right {text-align: right !important;}

/**
 * Italic and bold.
 */

.h-text-italic {font-style: italic !important;}

.h-text-bold {font-weight: bold !important;}

/**
 * Capitalise.
 */

.h-text-caps {text-transform: uppercase !important;}

/**
 * Inherit the ancestor's text color.
 */

.h-text-inherit-color {color: inherit !important;}

/**
 * Truncation.
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor nodes.
 */

.h-text-truncate {
  display: block !important;
	max-width: 100% !important; /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important; /* 2 */
  word-wrap: normal !important; /* 2 */
}

/**
 * Modifier: make `inline-block`.
 */

.h-text-truncate--inline-block {display: inline-block !important;}

/**
 * Break word.
 *
 * Break strings when their length exceeds the width of their container.
 *
 * N.B. `table-layout: fixed;` is need when this is used within tables.
 */

.h-text-break-word {word-wrap: break-word !important;}

/**
 * Prevent whitespace wrapping.
 */

.h-text-nowrap {white-space: nowrap !important;}

/* Hyphenation */
.h-text-hyphenate {@include prefix(hyphens, auto);}