/* ============================================================================
   @UTILITIES -> ALIGNMENTS
   ========================================================================= */


/**
 * Apply different alignments to elements.
 *
 * N.B. text alignments can be found in the Text -> Alignment utility.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-align-apply-at-breakpoints:                               $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-align-apply-breakpoints-for-v-inline-top:                 false !default;

$u-align-apply-breakpoints-for-v-inline-middle:              false !default;

$u-align-apply-breakpoints-for-v-inline-baseline:            false !default;

$u-align-apply-breakpoints-for-v-inline-bottom:              false !default;

$u-align-apply-breakpoints-for-v-inline-inherit:             false !default;

$u-align-apply-breakpoints-for-v-block-middle-flexbox:       false !default;

$u-align-apply-breakpoints-for-v-block-middle-table:         false !default;

$u-align-apply-breakpoints-for-v-block-middle-table-inner:   false !default;

$u-align-apply-breakpoints-for-v-block-middle-position:      false !default;

$u-align-apply-breakpoints-for-center-block:                 false !default;


/**
 * Inline vertical alignments.
 *
 * N.B. these won't work on block level elements (see next section for that).
 */

// Top
%u-align-v-inline-top,
.u-align-v-inline-top {vertical-align: top;}

@if $u-align-apply-breakpoints-for-v-inline-top {
  @include generate-at-breakpoints('.u-align-v-inline-top',
    $u-align-apply-at-breakpoints) {
    vertical-align: top;
  }
}// end if

// Middle
%u-align-v-inline-middle,
.u-align-v-inline-middle {vertical-align: middle;}

@if $u-align-apply-breakpoints-for-v-inline-middle {
  @include generate-at-breakpoints('.u-align-v-inline-middle',
    $u-align-apply-at-breakpoints) {
    vertical-align: middle;
  }
}// end if

// Baseline
%u-align-v-inline-baseline,
.u-align-v-inline-baseline {vertical-align: baseline;}

@if $u-align-apply-breakpoints-for-v-inline-baseline {
  @include generate-at-breakpoints('.u-align-v-inline-baseline',
    $u-align-apply-at-breakpoints) {
    vertical-align: baseline;
  }
}// end if

// Bottom
%u-align-v-inline-bottom,
.u-align-v-inline-bottom {vertical-align: bottom;}

@if $u-align-apply-breakpoints-for-v-inline-bottom {
  @include generate-at-breakpoints('.u-align-v-inline-bottom',
    $u-align-apply-at-breakpoints) {
    vertical-align: bottom;
  }
}// end if

// Inherit
%u-align-v-inline-inherit,
.u-align-v-inline-inherit {vertical-align: inherit;}

@if $u-align-apply-breakpoints-for-v-inline-inherit {
  @include generate-at-breakpoints('.u-align-v-inline-inherit',
    $u-align-apply-at-breakpoints) {
    vertical-align: inherit;
  }
}// end if


/**
 * Block level vertical alignments.
 */

// Flexbox method
// N.B. this has limited support so use with caution
%u-align-v-block-middle-flexbox,
.u-align-v-block-middle-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@if $u-align-apply-breakpoints-for-v-block-middle-flexbox {
  @include generate-at-breakpoints('.u-align-v-block-middle-flexbox',
    $u-align-apply-at-breakpoints) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}// end if

// CSS table method
%u-align-v-block-middle-table,
.u-align-v-block-middle-table {
  display: table;
  height: 100%;
  width: 100%;
}

@if $u-align-apply-breakpoints-for-v-block-middle-table {
  @include generate-at-breakpoints('.u-align-v-block-middle-table',
    $u-align-apply-at-breakpoints) {
    display: table;
    height: 100%;
    width: 100%;
  }
}// end if

  %u-align-v-block-middle-table__inner,
  .u-align-v-block-middle-table__inner {
    display: table-cell;
    vertical-align: middle;
  }

  @if $u-align-apply-breakpoints-for-v-block-middle-table-inner {
    @include generate-at-breakpoints('.u-align-v-block-middle-table__inner',
      $u-align-apply-at-breakpoints) {
      display: table-cell;
      vertical-align: middle;
    }
  }// end if

// Position relative method
%u-align-v-block-middle-position,
.u-align-v-block-middle-position {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@if $u-align-apply-breakpoints-for-v-block-middle-position {
  @include generate-at-breakpoints('.u-align-v-block-middle-position',
    $u-align-apply-at-breakpoints) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}// end if


/**
 * Center align a block level element.
 *
 * 1. Make it work on inline elements e.g. `img`.
 */

%u-align-center-block,
.u-align-center-block {
  display: block; // [1]
  margin-left: auto;
  margin-right: auto;
}

@if $u-align-apply-breakpoints-for-center-block {
  @include generate-at-breakpoints('.u-align-center-block',
    $u-align-apply-at-breakpoints) {
    display: block; // [1]
    margin-left: auto;
    margin-right: auto;
  }
}// end if