/* ============================================================================
   @UTILITIES -> ALIGNMENTS
   ========================================================================= */


/**
 * Apply different alignments to elements.
 *
 * N.B. text alignments can be found in the Text -> Alignment utility.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#alignments
 */


/**
 * Settings.
 */

// Apply at these breakpoints
$alignments-breakpoints: $default-utility-breakpoints !default;


/**
 * Inline vertical alignments.
 *
 * N.B. these won't work on block level elements (see next section for that).
 */

%u-align-v-inline-top,
.u-align-v-inline-top {vertical-align: top;}

@include generate-at-breakpoints('.u-align-v-inline-top',
  $alignments-breakpoints) {
  vertical-align: top;
}

%u-align-v-inline-middle,
.u-align-v-inline-middle {vertical-align: middle;}

@include generate-at-breakpoints('.u-align-v-inline-middle',
  $alignments-breakpoints) {
  vertical-align: middle;
}

%u-align-v-inline-baseline,
.u-align-v-inline-baseline {vertical-align: baseline;}

@include generate-at-breakpoints('.u-align-v-inline-baseline',
  $alignments-breakpoints) {
  vertical-align: baseline;
}

%u-align-v-inline-bottom,
.u-align-v-inline-bottom {vertical-align: bottom;}

@include generate-at-breakpoints('.u-align-v-inline-bottom',
  $alignments-breakpoints) {
  vertical-align: bottom;
}

%u-align-v-inline-inherit,
.u-align-v-inline-inherit {vertical-align: inherit;}

@include generate-at-breakpoints('.u-align-v-inline-inherit',
  $alignments-breakpoints) {
  vertical-align: inherit;
}


/**
 * Block level vertical alignments.
 */

// Flexbox method
// N.B. this has limited support so use with caution
%u-align-v-block-middle-flexbox,
.u-align-v-block-middle-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include generate-at-breakpoints('.u-align-v-block-middle-flexbox',
  $alignments-breakpoints) {
  display: flex;
  align-items: center;
  justify-content: center;
}

// CSS table method
%u-align-v-block-middle-table,
.u-align-v-block-middle-table {
  display: table;
  height: 100%;
  width: 100%;
}

@include generate-at-breakpoints('.u-align-v-block-middle-table',
  $alignments-breakpoints) {
  display: table;
  height: 100%;
  width: 100%;
}

  %u-align-v-block-middle-table__inner,
  .u-align-v-block-middle-table__inner {
    display: table-cell;
    vertical-align: middle;
  }

  @include generate-at-breakpoints('.u-align-v-block-middle-table__inner',
    $alignments-breakpoints) {
    display: table-cell;
    vertical-align: middle;
  }

// Position relative method
%u-align-v-block-middle-position,
.u-align-v-block-middle-position {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@include generate-at-breakpoints('.u-align-v-block-middle-position',
  $alignments-breakpoints) {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/**
 * Center align a block level element.
 *
 * 1. Make it work on inline elements e.g. `img`.
 */

%u-align-center-block,
.u-align-center-block {
  display: block; // [1]
  margin-left: auto;
  margin-right: auto;
}

@include generate-at-breakpoints('.u-align-center-block',
  $alignments-breakpoints) {
  display: block; // [1]
  margin-left: auto;
  margin-right: auto;
}