/* ============================================================================
   @UTILITIES -> ARROW
   ========================================================================= */


/**
 * Creates arrow shapes using only CSS.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#arrow
 */


/**
 * Settings.
 */

// Sizes
$arrow-size-base:     8 !default;

$arrow-size-tiny:     $arrow-size-base - 4 !default;

$arrow-size-small:    $arrow-size-base - 2 !default;

$arrow-size-large:    $arrow-size-base + 2 !default;

$arrow-size-huge:     $arrow-size-base + 4 !default;

// Colour
$arrow-colour:        $colour-text-base !default;


/**
 * Base.
 */

%u-arrow,
.u-arrow {
  display: inline-block;
	width: 0;
	height: 0;
  @include to-rem(border, $arrow-size-base solid transparent);
	vertical-align: middle;
}


/**
 * Modifier: sizes.
 */

// Tiny
%u-arrow--tiny,
.u-arrow--tiny {@include to-rem(border-width, $arrow-size-tiny);}

// Small
%u-arrow--small,
.u-arrow--small {@include to-rem(border-width, $arrow-size-small);}

// Large
%u-arrow--large,
.u-arrow--large {@include to-rem(border-width, $arrow-size-large);}

// Huge
%u-arrow--huge,
.u-arrow--huge {@include to-rem(border-width, $arrow-size-huge);}


/**
 * Modifier: down arrow.
 */

%u-arrow--down,
.u-arrow--down {border-top-color: $arrow-colour;}


/**
 * Modifier: up arrow.
 */

%u-arrow--up,
.u-arrow--up {border-bottom-color: $arrow-colour;}


/**
 * Modifier: left arrow.
 */

%u-arrow--left,
.u-arrow--left {border-right-color: $arrow-colour;}


/**
 * Modifier: right arrow.
 */

%u-arrow--right,
.u-arrow--right {border-left-color: $arrow-colour;}