/* ============================================================================
   @UTILITIES -> ARROW
   ========================================================================= */


/**
 * Creates arrow shapes using only CSS.
 */


/**
 * Settings.
 */

// Sizes
$u-arrow-size-base:     8 !default;

$u-arrow-size-tiny:     $u-arrow-size-base - 4 !default;

$u-arrow-size-small:    $u-arrow-size-base - 2 !default;

$u-arrow-size-large:    $u-arrow-size-base + 2 !default;

$u-arrow-size-huge:     $u-arrow-size-base + 4 !default;

// Colour
$u-arrow-colour:        $colour-text-base !default;


%u-arrow,
.u-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  @include to-rem(border, $u-arrow-size-base solid transparent);
  vertical-align: middle;
}


/**
 * Modifier: sizes.
 */

// Tiny
%u-arrow--tiny,
.u-arrow--tiny {@include to-rem(border-width, $u-arrow-size-tiny);}

// Small
%u-arrow--small,
.u-arrow--small {@include to-rem(border-width, $u-arrow-size-small);}

// Large
%u-arrow--large,
.u-arrow--large {@include to-rem(border-width, $u-arrow-size-large);}

// Huge
%u-arrow--huge,
.u-arrow--huge {@include to-rem(border-width, $u-arrow-size-huge);}


/**
 * Modifier: down arrow.
 */

%u-arrow--down,
.u-arrow--down {border-top-color: $u-arrow-colour;}


/**
 * Modifier: up arrow.
 */

%u-arrow--up,
.u-arrow--up {border-bottom-color: $u-arrow-colour;}


/**
 * Modifier: left arrow.
 */

%u-arrow--left,
.u-arrow--left {border-right-color: $u-arrow-colour;}


/**
 * Modifier: right arrow.
 */

%u-arrow--right,
.u-arrow--right {border-left-color: $u-arrow-colour;}