/* ============================================================================
   @UTILITIES -> COLUMNS
   ========================================================================= */


/**
 * Easily create columns out of one element.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#columns
 */


/**
 * Settings.
 */

// Apply at these breakpoints
$u-column-breakpoints:          $default-breakpoints !default;

// Gutter sizes
$u-column-gap-base:             $spacing-base !default;

$u-column-gap-tiny:             $spacing-third !default;

$u-column-gap-small:            $spacing-half !default;

$u-column-gap-large:            $spacing-base-plus-half !default;

$u-column-gap-huge:             $spacing-double !default;

// Divider
$u-column-divider-thickness:    1 !default;

$u-column-divider-style:        solid !default;

$u-column-divider-colour:       $colour-text-base !default;


%u-columns,
.u-columns {
  column-count: 2;
  @include to-rem(column-gap, $u-column-gap-base);
}

@include generate-at-breakpoints('.u-columns', $u-column-breakpoints) {
  column-count: 2;
  @include to-rem(column-gap, $u-column-gap-base);
}


/**
 * Modifiers: number of columns.
 */

// Three
%u-columns--three,
.u-columns--three {column-count: 3;}

@include generate-at-breakpoints('.u-columns--three', $u-column-breakpoints) {
  column-count: 3;
}

// Four
%u-columns--four,
.u-columns--four {column-count: 4;}

@include generate-at-breakpoints('.u-columns--four', $u-column-breakpoints) {
  column-count: 4;
}

// Five
%u-columns--five,
.u-columns--five {column-count: 5;}

@include generate-at-breakpoints('.u-columns--five', $u-column-breakpoints) {
  column-count: 5;
}

// Six
%u-columns--six,
.u-columns--six {column-count: 6;}

@include generate-at-breakpoints('.u-columns--six', $u-column-breakpoints) {
  column-count: 6;
}


/**
 * Modifiers: gutter sizes.
 */

// Tiny
%u-columns--gutter-tiny,
.u-columns--gutter-tiny {@include to-rem(column-gap, $u-column-gap-tiny);}

@include generate-at-breakpoints('.u-columns--gutter-tiny', $u-column-breakpoints
  ) {
  @include to-rem(column-gap, $u-column-gap-tiny);
}

// Small
%u-columns--gutter-small,
.u-columns--gutter-small {@include to-rem(column-gap, $u-column-gap-small);}

@include generate-at-breakpoints('.u-columns--gutter-small', $u-column-breakpoints
  ) {
  @include to-rem(column-gap, $u-column-gap-small);
}

// Large
%u-columns--gutter-large,
.u-columns--gutter-large {@include to-rem(column-gap, $u-column-gap-large);}

@include generate-at-breakpoints('.u-columns--gutter-large', $u-column-breakpoints
  ) {
  @include to-rem(column-gap, $u-column-gap-large);
}

// Huge
%u-columns--gutter-huge,
.u-columns--gutter-huge {@include to-rem(column-gap, $u-column-gap-huge);}

@include generate-at-breakpoints('.u-columns--gutter-huge', $u-column-breakpoints
  ) {
  @include to-rem(column-gap, $u-column-gap-huge);
}


/**
 * Modifier: column divider.
 */

%u-columns--divider,
.u-columns--divider {@include to-rem(column-rule, $u-column-divider-thickness
  $u-column-divider-style $u-column-divider-colour);}

@include generate-at-breakpoints('.u-columns--divider', $u-column-breakpoints) {
  @include to-rem(column-rule, $u-column-divider-thickness $u-column-divider-style
    $u-column-divider-colour);
}