/* ======================================================================================
   @UTILITIES -> CLEAR FIX
   ====================================================================================== */


/**
 * Make an element expand to contain floated children.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#clear-fix
 */


%u-clear-fix,
.u-clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}