/* ============================================================================
   @UTILITIES -> CLEAR FIX
   ========================================================================= */


/**
 * Make an element expand to contain floated children.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-clear-fix-apply-at-breakpoints:          $default-breakpoints !default;

// From above choose to turn this on or off
$u-clear-fix-apply-at-breakpoints-toggle:   false !default;


%u-clear-fix,
.u-clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@if $u-clear-fix-apply-at-breakpoints-toggle {
  @include generate-at-breakpoints('.u-clear-fix',
    $u-clear-fix-apply-at-breakpoints) {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}// end if