/* ============================================================================
   @UTILITIES -> CLEAR FIX
   ========================================================================= */


/**
 * Make an element expand to contain floated children.
 *
 * @demo
 * http://codepen.io/chris-pearce/full/LEQrbV
 */


/**
 * Settings.
 */

/**
 * Apply at these breakpoints.
 */

$u-clear-fix-apply-at-breakpoints:          $default-breakpoints !default;

// From the above choose to turn this on or off
$u-clear-fix-apply-at-breakpoints-toggle:   false !default;


%u-clear-fix,
.u-clear-fix {
  &:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
  }
}

@if $u-clear-fix-apply-at-breakpoints-toggle {
  @include generate-at-breakpoints('.u-clear-fix',
    $u-clear-fix-apply-at-breakpoints) {
    &:after {
      content: "" !important;
      display: table !important;
      clear: both !important;
    }
  }
}