/* ============================================================================
   @UTILITIES -> CLEAR FIX
   ========================================================================= */


/**
 * Make an element expand to contain floated children.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#clear-fix
 */


/**
 * Settings.
 */

/**
 * Apply at breakpoints.
 */

// Which breakpoints do you want to use?
$u-clear-fix-breakpoints:         $default-breakpoints !default;

// What do you want to apply it too?
$u-clear-fix-breakpoint-toggle:   false !default;


%u-clear-fix,
.u-clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@if $u-clear-fix-breakpoint-toggle {
  @include generate-at-breakpoints('.u-clear-fix',
    $u-clear-fix-breakpoints) {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}// end if