/* ============================================================================
   @UTILITIES -> COLUMNS
   ========================================================================= */


/**
 * Easily create columns out of one element.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-column-apply-at-breakpoints:                     $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-column-apply-breakpoints-for-default:            false !default;

$u-column-apply-breakpoints-for-columns-three:      false !default;

$u-column-apply-breakpoints-for-columns-four:       false !default;

$u-column-apply-breakpoints-for-columns-five:       false !default;

$u-column-apply-breakpoints-for-columns-six:        false !default;

$u-column-apply-breakpoints-for-gutter-tiny:        false !default;

$u-column-apply-breakpoints-for-gutter-small:       false !default;

$u-column-apply-breakpoints-for-gutter-large:       false !default;

$u-column-apply-breakpoints-for-gutter-huge:        false !default;

$u-column-apply-breakpoints-for-columns-divider:    false !default;

/**
 * Gutter sizes.
 */

$u-column-gap-base:                                 $spacing-base !default;

$u-column-gap-tiny:                                 $spacing-third !default;

$u-column-gap-small:                                $spacing-half !default;

$u-column-gap-large:                                $spacing-base-plus-half !default;

$u-column-gap-huge:                                 $spacing-double !default;

/**
 * Divider.
 */

$u-column-divider-thickness:                        1 !default;

$u-column-divider-style:                            solid !default;

$u-column-divider-colour:                           $colour-text-base !default;


%u-columns,
.u-columns {
  column-count: 2;
  @include to-rem(column-gap, $u-column-gap-base);
}

@if $u-column-apply-breakpoints-for-default {
  @include generate-at-breakpoints('.u-columns', $u-column-apply-at-breakpoints) {
    column-count: 2;
    @include to-rem(column-gap, $u-column-gap-base);
  }
}// end if


/**
 * Modifiers: number of columns.
 */

// Three
%u-columns--three,
.u-columns--three {column-count: 3;}

@if $u-column-apply-breakpoints-for-columns-three {
  @include generate-at-breakpoints('.u-columns--three', $u-column-apply-at-breakpoints) {
    column-count: 3;
  }
}// end if

// Four
%u-columns--four,
.u-columns--four {column-count: 4;}

@if $u-column-apply-breakpoints-for-columns-four {
  @include generate-at-breakpoints('.u-columns--four', $u-column-apply-at-breakpoints) {
    column-count: 4;
  }
}// end if

// Five
%u-columns--five,
.u-columns--five {column-count: 5;}

@if $u-column-apply-breakpoints-for-columns-five {
  @include generate-at-breakpoints('.u-columns--five', $u-column-apply-at-breakpoints) {
    column-count: 5;
  }
}// end if

// Six
%u-columns--six,
.u-columns--six {column-count: 6;}

@if $u-column-apply-breakpoints-for-columns-six {
  @include generate-at-breakpoints('.u-columns--six', $u-column-apply-at-breakpoints) {
    column-count: 6;
  }
}// end if


/**
 * Modifiers: gutter sizes.
 */

// Tiny
%u-columns--gutter-tiny,
.u-columns--gutter-tiny {@include to-rem(column-gap, $u-column-gap-tiny);}

@if $u-column-apply-breakpoints-for-gutter-tiny {
  @include generate-at-breakpoints('.u-columns--gutter-tiny', $u-column-apply-at-breakpoints
    ) {
    @include to-rem(column-gap, $u-column-gap-tiny);
  }
}// end if

// Small
%u-columns--gutter-small,
.u-columns--gutter-small {@include to-rem(column-gap, $u-column-gap-small);}

@if $u-column-apply-breakpoints-for-gutter-small {
  @include generate-at-breakpoints('.u-columns--gutter-small', $u-column-apply-at-breakpoints
    ) {
    @include to-rem(column-gap, $u-column-gap-small);
  }
}// end if

// Large
%u-columns--gutter-large,
.u-columns--gutter-large {@include to-rem(column-gap, $u-column-gap-large);}

@if $u-column-apply-breakpoints-for-gutter-large {
  @include generate-at-breakpoints('.u-columns--gutter-large', $u-column-apply-at-breakpoints
    ) {
    @include to-rem(column-gap, $u-column-gap-large);
  }
}// end if

// Huge
%u-columns--gutter-huge,
.u-columns--gutter-huge {@include to-rem(column-gap, $u-column-gap-huge);}

@if $u-column-apply-breakpoints-for-gutter-huge {
  @include generate-at-breakpoints('.u-columns--gutter-huge', $u-column-apply-at-breakpoints
    ) {
    @include to-rem(column-gap, $u-column-gap-huge);
  }
}// end if


/**
 * Modifier: column divider.
 */

%u-columns--divider,
.u-columns--divider {@include to-rem(column-rule, $u-column-divider-thickness
  $u-column-divider-style $u-column-divider-colour);}

@if $u-column-apply-breakpoints-for-columns-divider {
  @include generate-at-breakpoints('.u-columns--divider', $u-column-apply-at-breakpoints) {
    @include to-rem(column-rule, $u-column-divider-thickness $u-column-divider-style
      $u-column-divider-colour);
  }
}// end if