/* ============================================================================
   @UTILITIES -> DISPLAY
   ========================================================================= */


/**
 * A utility for applying the most common types of box renderings and for
 * hiding / showing elements.
 *
 * @todo
 * Look at adding 'Flexbox'.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#display
 */


/**
 * Settings.
 */

/**
 * Apply at breakpoints.
 */

// Which breakpoints do you want to use?
$u-display-breakpoints:                         $default-breakpoints !default;

// What do you want to apply it too?
$u-display-breakpoint-toggle-block:             false !default;

$u-display-breakpoint-toggle-inline:            false !default;

$u-display-breakpoint-toggle-inline-block:      false !default;

$u-display-breakpoint-toggle-table:             false !default;

$u-display-breakpoint-toggle-table-row:         false !default;

$u-display-breakpoint-toggle-table-cell:        false !default;

$u-display-breakpoint-toggle-inherit:           false !default;

$u-display-breakpoint-toggle-hide:              false !default;

$u-display-breakpoint-toggle-hide-invisible:    false !default;

$u-display-breakpoint-toggle-hide-visually:     false !default;

// Classes to detect if JavaScript is on or off
$u-display-js-is-on-class:                      js !default;

$u-display-js-is-off-class:                     no-js !default;


/**
 * Block, inline, and inline-block display.
 */

// Block
%u-display-block,
.u-display-block {display: block;}

@if $u-display-breakpoint-toggle-block {
  @include generate-at-breakpoints('.u-display-block', $u-display-breakpoints) {display: block;}
}// end if

// Inline
%u-display-inline,
.u-display-inline {display: inline;}

@if $u-display-breakpoint-toggle-inline {
  @include generate-at-breakpoints('.u-display-inline', $u-display-breakpoints) {display: inline;}
}// end if

// Inline block
%u-display-inline-block,
.u-display-inline-block {display: inline-block;}

@if $u-display-breakpoint-toggle-inline-block {
  @include generate-at-breakpoints('.u-display-inline-block', $u-display-breakpoints
    ) {display: inline-block;}
}// end if


/**
 * Table display.
 */

// Table
%u-display-table,
.u-display-table {display: table;}

@if $u-display-breakpoint-toggle-table {
  @include generate-at-breakpoints('.u-display-table', $u-display-breakpoints) {display: table;}
}// end if

// Table row
%u-display-table-row,
.u-display-table-row {display: table-row;}

@if $u-display-breakpoint-toggle-table-row {
  @include generate-at-breakpoints('.u-display-table-row', $u-display-breakpoints
    ) {display: table-row;}
}// end if

// Table cell
%u-display-table-cell,
.u-display-table-cell {display: table-cell;}

@if $u-display-breakpoint-toggle-table-cell {
  @include generate-at-breakpoints('.u-display-table-cell', $u-display-breakpoints
    ) {display: table-cell;}
}// end if


/**
 * Inherit.
 */

%u-display-inherit,
.u-display-inherit {display: inherit;}

@if $u-display-breakpoint-toggle-inherit {
  @include generate-at-breakpoints('.u-display-inherit', $u-display-breakpoints) {display: inherit;}
}// end if


/**
 * Hide elements from both screen readers and the document flow.
 */

%u-hide,
.u-hide {
  display: none;
  visibility: hidden;
}

@if $u-display-breakpoint-toggle-hide {
  @include generate-at-breakpoints('.u-hide', $u-display-breakpoints) {
    display: none;
    visibility: hidden;
  }
}// end if


/**
 * Hide elements without affecting the document flow.
 */

%u-hide-invisible,
.u-hide-invisible {visibility: hidden;}

@if $u-display-breakpoint-toggle-hide-invisible {
  @include generate-at-breakpoints('.u-hide-invisible', $u-display-breakpoints) {visibility: hidden;}
}// end if


/**
 * Hide elements only visually but have it available for screen readers.
 */

%u-hide-visually,
.u-hide-visually {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;


  /**
   * Form `legend`s need different treatment.
   */

  &.legend {left: $off-screen-distance;}
}

@if $u-display-breakpoint-toggle-hide-visually {
  @include generate-at-breakpoints('.u-hide-visually', $u-display-breakpoints) {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    border: 0;


    /**
     * Form `legend`s need different treatment.
     */

    &.legend {left: $off-screen-distance;}
  }
}// end if


/**
 * Hide elements for JavaScript users and non-JavaScript users, this is
 * necessary when building accessibile and progressively enhanced UI's.
 *
 * N.B. this will require functionality that can append a hook to an element
 * (typically the `html` element) if JavaScript is on.
 *
 * N.B. it is okay to use `!important` here as we're doing it pre-emptively
 * i.e. you know you will always want the rule it's applied too to take
 * precedence.
 */

// Hide / show elements if JavaScript is on
.#{$u-display-js-is-on-class} .u-hide-if-js-is-on {display: none !important;}

// Hide / show elements if JavaScript is off
.#{$u-display-js-is-off-class} .u-hide-if-js-is-off {display: none !important;}


/**
 * Hide / show elements for print media.
 */

// Show
.u-show-for-print,
.u-show-for-print-inline,
.u-show-for-print-inline-block {display: none;}

@media print {

  // Hide
  .u-hide-for-print {display: none;}

  // Show
  .u-show-for-print {display: block;}

  .u-show-for-print-inline {display: inline;}

  .u-show-for-print-inline-block {display: inline-block;}

}