/* ============================================================================
   @UTILITIES -> DIVIDER
   ========================================================================= */


/**
 * Create a divider between elements.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#divider
 */


/**
 * Settings.
 */

// Apply at these breakpoints
$u-divider-breakpoints:   $default-utility-breakpoints !default;

// Colour
$u-divider-colour:        $colour-text-base !default;

// Thickness
$u-divider-thickness:     1 !default;

// Style
$u-divider-style:         solid !default;


/**
 * Bottom.
 */

%u-divider-bottom,
.u-divider-bottom {
  @include to-rem(border-bottom, $u-divider-thickness $u-divider-style
    $u-divider-colour);
}

@include generate-at-breakpoints('.u-divider-bottom', $u-display-breakpoints) {
  @include to-rem(border-bottom, $u-divider-thickness $u-divider-style
    $u-divider-colour);
}


/**
 * Top.
 */

%u-divider-top,
.u-divider-top {
  @include to-rem(border-top, $u-divider-thickness $u-divider-style $u-divider-colour);
}

@include generate-at-breakpoints('.u-divider-top', $u-display-breakpoints) {
  @include to-rem(border-top, $u-divider-thickness $u-divider-style $u-divider-colour);
}