/* ============================================================================
   @UTILITIES -> DIVIDER
   ========================================================================= */


/**
 * Create a divider between elements.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-divider-apply-at-breakpoints:               $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-divider-apply-at-breakpoints-for-top:     false !default;

$u-divider-apply-at-breakpoints-for-right:   false !default;

$u-divider-apply-at-breakpoints-for-bottom:  false !default;

$u-divider-apply-at-breakpoints-for-left:    false !default;

/**
 * Cosmetics.
 */

// Colour
$u-divider-colour:                    $colour-text-base !default;

// Thickness
$u-divider-thickness:                 1 !default;

// Style
$u-divider-style:                     solid !default;


/**
 * Top.
 */

%u-divider-top,
.u-divider-top {
  @include to-rem(border-top, $u-divider-thickness $u-divider-style $u-divider-colour);
}

@if $u-divider-apply-at-breakpoints-for-top {
  @include generate-at-breakpoints('.u-divider-top', $u-divider-apply-at-breakpoints) {
    @include to-rem(border-top, $u-divider-thickness $u-divider-style $u-divider-colour);
  }
}// end if


/**
 * Right.
 */

%u-divider-right,
.u-divider-right {
  @include to-rem(border-right, $u-divider-thickness $u-divider-style
    $u-divider-colour);
}

@if $u-divider-apply-at-breakpoints-for-right {
  @include generate-at-breakpoints('.u-divider-right', $u-divider-apply-at-breakpoints) {
    @include to-rem(border-right, $u-divider-thickness $u-divider-style
      $u-divider-colour);}
}// end if


/**
 * Bottom.
 */

%u-divider-bottom,
.u-divider-bottom {
  @include to-rem(border-bottom, $u-divider-thickness $u-divider-style
    $u-divider-colour);
}

@if $u-divider-apply-at-breakpoints-for-bottom {
  @include generate-at-breakpoints('.u-divider-bottom', $u-divider-apply-at-breakpoints) {
    @include to-rem(border-bottom, $u-divider-thickness $u-divider-style
      $u-divider-colour);}
}// end if


/**
 * Left.
 */

%u-divider-left,
.u-divider-left {
  @include to-rem(border-left, $u-divider-thickness $u-divider-style
    $u-divider-colour);
}

@if $u-divider-apply-at-breakpoints-for-left {
  @include generate-at-breakpoints('.u-divider-left', $u-divider-apply-at-breakpoints) {
    @include to-rem(border-left, $u-divider-thickness $u-divider-style
      $u-divider-colour);
  }
}// end if