/* ============================================================================
   @UTILITIES -> DIVIDER
   ========================================================================= */


/**
 * Create a divider between elements.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#divider
 */


/**
 * Settings.
 */

// Apply at these breakpoints
$divider-breakpoints:   $default-utility-breakpoints !default;

// Colour
$divider-color:         $colour-text-base !default;

// Thickness
$divider-thickness:     1 !default;

// Style
$divider-style:         solid !default;


/**
 * Bottom.
 */

%u-divider-bottom,
.u-divider-bottom {
  @include to-rem(border-bottom, $divider-thickness $divider-style
    $divider-color);
}

@include generate-at-breakpoints('.u-divider-bottom',
  $display-breakpoints) {
  @include to-rem(border-bottom, $divider-thickness $divider-style
    $divider-color);
}


/**
 * Top.
 */

%u-divider-top,
.u-divider-top {
  @include to-rem(border-top, $divider-thickness $divider-style $divider-color);
}

@include generate-at-breakpoints('.u-divider-top',
  $display-breakpoints) {
  @include to-rem(border-top, $divider-thickness $divider-style $divider-color);
}