/* ============================================================================
   @UTILITIES -> FLOAT
   ========================================================================= */


/**
 * Simply make an element floated or remove it.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-float-apply-at-breakpoints:             $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-float-apply-at-breakpoints-for-left:    false !default;

$u-float-apply-at-breakpoints-for-right:   false !default;

$u-float-apply-at-breakpoints-for-none:    false !default;


/**
 * Left.
 */

%u-float-left,
.u-float-left {float: left;}

@if $u-float-apply-at-breakpoints-for-left {
  @include generate-at-breakpoints('.u-float-left', $u-float-apply-at-breakpoints) {
    float: left;
  }
}// end if


/**
 * Right.
 */

%u-float-right,
.u-float-right {float: right;}

@if $u-float-apply-at-breakpoints-for-right {
  @include generate-at-breakpoints('.u-float-right', $u-float-apply-at-breakpoints) {
    float: right;
  }
}// end if


/**
 * None.
 */

%u-float-none,
.u-float-none {float: none;}

@if $u-float-apply-at-breakpoints-for-none {
  @include generate-at-breakpoints('.u-float-none', $u-float-apply-at-breakpoints) {
    float: none;
  }
}// end if