/* ============================================================================
   @UTILITIES -> GPU ACCELERATED
   ========================================================================= */


/**
 * This utility will trigger browsers into enabling GPU rendering for better
 * rendering performance, but it's not wise to use on everything just for the
 * sake of hardware acceleration. So make sure to understand when and when
 * not to use this.
 */


%u-gpu-accelerated,
.u-gpu-accelerated {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  perspective: 1000;
}