/* ============================================================================
   @UTILITIES -> IMAGE REPLACEMENT
   ========================================================================= */


/**
 * Replacing some text with an image.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-image-replacement-apply-at-breakpoints:               $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-image-replacement-apply-at-breakpoints-for-default:   false !default;

$u-image-replacement-apply-at-breakpoints-for-alt:       false !default;


%u-image-replacement,
.u-image-replacement {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

@if $u-image-replacement-apply-at-breakpoints-for-default {
  @include generate-at-breakpoints('.u-image-replacement',
    $u-image-replacement-apply-at-breakpoints) {
    background-color: transparent;
    border: 0;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 150%;
    }
  }
}// end if


/**
 * Alternate version.
 */

%u-image-replacement-alt,
.u-image-replacement-alt {text-indent: $off-screen-distance;}

@if $u-image-replacement-apply-at-breakpoints-for-alt {
  @include generate-at-breakpoints('.u-image-replacement-alt',
    $u-image-replacement-apply-at-breakpoints) {
    text-indent: $off-screen-distance;
  }
}// end if