/* ============================================================================
   @UTILITIES -> IMAGE REPLACEMENT
   ========================================================================= */


/**
 * Replacing some text with an image.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#image-replacement
 */


/**
 * Settings.
 */

// Apply at these breakpoints
$u-image-replacement-breakpoints: $default-breakpoints !default;


%u-image-replacement,
.u-image-replacement {
  background-color: transparent;
  border: 0;
  overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

@include generate-at-breakpoints('.u-image-replacement',
  $u-image-replacement-breakpoints) {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}


/**
 * Alternate version.
 */

%u-image-replacement-alt,
.u-image-replacement-alt {text-indent: $off-screen-distance;}

@include generate-at-breakpoints('.u-image-replacement-alt',
  $u-image-replacement-breakpoints) {
  text-indent: $off-screen-distance;
}