/* ============================================================================
   @UTILITIES -> LIST
   ========================================================================= */


/**
 * Standard list styles for unordered and ordered lists as they're removed in
 * Core -> Reset.
 *
 * N.B. this utility is dependant on the following utility:
 *
 * - Spacing.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#list
 */


/**
 * Settings.
 */

 // Apply at these breakpoints
 $list-breakpoints: $default-utility-breakpoints !default;

// Indent
$list-indent: 													$spacing-base !default;

// Bullets
$list-bullet-unordered-base:						disc !default;

$list-bullet-unordered-nested-once:			circle !default;

$list-bullet-unordered-nested-twice:		square !default;

$list-bullet-ordered:										decimal !default;


/**
 * Whitespace.
 */

%u-list,
.u-list {
	// Default bottom spacing
	@extend %u-s-mb-base;

	// Left indent including nested lists
	&,
	ul,
	ol {@include to-rem(margin-left, $list-indent);}
}

@include generate-at-breakpoints('.u-list', $list-breakpoints) {
  // Default bottom spacing
	@include to-rem(margin-bottom, $list-indent);

	// Left indent including nested lists
	&,
	ul,
	ol {@include to-rem(margin-left, $list-indent);}
}


/**
 * Bullets.
 *
 * For unordered lists we're replicating the native browser bullets:
 * - disc
 * 	-- circle
 *  	--- square
 */

// Unordered lists
%ul.u-list,
ul.u-list {list-style-type: $list-bullet-unordered-base;}

@include generate-at-breakpoints('ul.u-list', $list-breakpoints) {
	list-style-type: $list-bullet-unordered-base;
}

// Ordered lists
%ol.u-list,
ol.u-list {list-style-type: $list-bullet-ordered;}

@include generate-at-breakpoints('ol.u-list', $list-breakpoints) {
	list-style-type: $list-bullet-ordered;
}

	// Nested lists
	%ul.u-list,
	ul.u-list,
	%ol.u-list,
	ol.u-list {

		// Unordered lists
		ul {
			list-style-type: $list-bullet-unordered-nested-once;

				ul {list-style-type: $list-bullet-unordered-nested-twice;}
		}

		// Ordered lists
		ol {list-style-type: $list-bullet-ordered;}
	}

	// Nested lists
	@each $list-type in (ul ol) {
		@include generate-at-breakpoints("#{$list-type}.u-list{bp}",
			$list-breakpoints) {

			// Unordered lists
			ul {
				list-style-type: $list-bullet-unordered-nested-once;

					ul {list-style-type: $list-bullet-unordered-nested-twice;}
			}

			// Ordered lists
			ol {list-style-type: $list-bullet-ordered;}
		}
	}