/* ============================================================================
   @UTILITIES -> LINK DISGUISED
   ========================================================================= */


/**
 * Make a link not look like a link.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#link-disguised
 */


/**
 * Settings.
 */

/**
 * Apply at breakpoints.
 */

// Which breakpoints do you want to use?
$u-link-disguised-breakpoints:        $default-breakpoints !default;

// What do you want to apply it too?
$u-link-disguised-breakpoint-toggle:  true !default;


%u-link-disguised,
.u-link-disguised {
  cursor: text;

  &,
  &:visited,
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

@if $u-link-disguised-breakpoint-toggle {
  @include generate-at-breakpoints('.u-link-disguised',
    $u-link-disguised-breakpoints) {
    cursor: text;

    &,
    &:visited,
    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }
}// end if