/* ============================================================================
   @UTILITIES -> LIST
   ========================================================================= */


/**
 * Standard list styles for unordered and ordered lists as they're removed in
 * Core -> Reset.
 *
 * N.B. this utility is dependant on the following utility:
 *
 * - Spacing.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-list-apply-at-breakpoints:                 $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-list-apply-at-breakpoints-for-default:     false !default;

$u-list-apply-at-breakpoints-for-unordered:   false !default;

$u-list-apply-at-breakpoints-for-ordered:     false !default;

$u-list-apply-at-breakpoints-for-nested:      false !default;

/**
 * Indent.
 */

$u-list-indent:                               $spacing-base !default;

/**
 * Bullets.
 */

$u-list-bullet-unordered-base:                disc !default;

$u-list-bullet-unordered-nested-once:         circle !default;

$u-list-bullet-unordered-nested-twice:        square !default;

$u-list-bullet-ordered:                       decimal !default;


/**
 * Whitespace.
 */

%u-list,
.u-list {
  // Default bottom spacing
  @extend %u-s-mb-base;

  // Left indent including nested lists
  &,
  ul,
  ol {@include to-rem(margin-left, $u-list-indent);}
}

@if $u-list-apply-at-breakpoints-for-default {
  @include generate-at-breakpoints('.u-list', $u-list-apply-at-breakpoints) {
    @include to-rem(margin-bottom, $u-list-indent);

    &,
    ul,
    ol {@include to-rem(margin-left, $u-list-indent);}
  }
}// end if


/**
 * Bullets.
 *
 * For unordered lists we're replicating the native browser bullets:
 * - disc
 *  -- circle
 *    --- square
 */

// Unordered lists
%ul.u-list,
ul.u-list {list-style-type: $u-list-bullet-unordered-base;}

@if $u-list-apply-at-breakpoints-for-unordered {
  @include generate-at-breakpoints('ul.u-list', $u-list-apply-at-breakpoints) {
    list-style-type: $u-list-bullet-unordered-base;
  }
}// end if

// Ordered lists
%ol.u-list,
ol.u-list {list-style-type: $u-list-bullet-ordered;}

@if $u-list-apply-at-breakpoints-for-ordered {
  @include generate-at-breakpoints('ol.u-list', $u-list-apply-at-breakpoints) {
    list-style-type: $u-list-bullet-ordered;
  }
}// end if

  // Nested lists
  %ul.u-list,
  ul.u-list,
  %ol.u-list,
  ol.u-list {

    // Unordered lists
    ul {
      list-style-type: $u-list-bullet-unordered-nested-once;

      ul {list-style-type: $u-list-bullet-unordered-nested-twice;}
    }

    // Ordered lists
    ol {list-style-type: $u-list-bullet-ordered;}
  }

  // Nested lists
  @each $u-list-type in (ul ol) {
    @if $u-list-apply-at-breakpoints-for-nested {
      @include generate-at-breakpoints("#{$u-list-type}.u-list{bp}",
        $u-list-apply-at-breakpoints) {

        // Unordered lists
        ul {
          list-style-type: $u-list-bullet-unordered-nested-once;

          ul {list-style-type: $u-list-bullet-unordered-nested-twice;}
        }

        // Ordered lists
        ol {list-style-type: $u-list-bullet-ordered;}
      }
    }// end if
  }