/* ============================================================================
   @UTILITIES -> LIST BLOCK
   ========================================================================= */


/**
 * Creates blocky list items out of a `ul` or `ol` with the option to add a
 * keyline separator between the list items.
 *
 * @consideration
 * The spacer utilities could replace this?
 *
 * @credit
 * https://github.com/inuitcss/objects.list-block/blob/master/_objects.list-block.scss
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-list-block-apply-at-breakpoints:              $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-list-block-apply-at-breakpoints-for-default:  false !default;

$u-list-block-apply-at-breakpoints-for-tiny:     false !default;

$u-list-block-apply-at-breakpoints-for-small:    false !default;

$u-list-block-apply-at-breakpoints-for-large:    false !default;

$u-list-block-apply-at-breakpoints-for-huge:     false !default;

$u-list-block-apply-at-breakpoints-for-border:   false !default;

/**
 * Whitespace.
 */

$u-list-block-item-padding-base:          $spacing-half !default;

$u-list-block-item-padding-tiny:          $spacing-quarter !default;

$u-list-block-item-padding-small:         $spacing-third !default;

$u-list-block-item-padding-large:         $spacing-base !default;

$u-list-block-item-padding-huge:          $spacing-double !default;

/**
 * Border.
 */

$u-list-block-border-colour:              darken($colour-white, 10%) !default;

$u-list-block-border-thickness:           1 !default;


%u-list-block > li,
.u-list-block > li {

  &,
  > a {@include to-rem(padding, $u-list-block-item-padding-base);}

  > a {
    display: block;
    @include to-rem(margin, -$u-list-block-item-padding-base);
  }
}

@if $u-list-block-apply-at-breakpoints-for-default {
  @include generate-at-breakpoints('.u-list-block{bp} > li',
    $u-list-block-apply-at-breakpoints) {

      &,
      > a {@include to-rem(padding, $u-list-block-item-padding-base);}

      > a {
        display: block;
        @include to-rem(margin, -$u-list-block-item-padding-base);
      }
  }
}// end if


/**
 * Modifier: tiny padding.
 */

%u-list-block--tiny > li,
.u-list-block--tiny > li {

  &,
  > a {@include to-rem(padding, $u-list-block-item-padding-tiny);}

  > a {@include to-rem(margin, -$u-list-block-item-padding-tiny);}
}

@if $u-list-block-apply-at-breakpoints-for-tiny {
  @include generate-at-breakpoints('.u-list-block--tiny{bp} > li',
    $u-list-block-apply-at-breakpoints) {

      &,
      > a {@include to-rem(padding, $u-list-block-item-padding-tiny);}

      > a {@include to-rem(margin, -$u-list-block-item-padding-tiny);}
  }
}// end if


/**
 * Modifier: small padding.
 */

%u-list-block--small > li,
.u-list-block--small > li {
  &,
  > a {@include to-rem(padding, $u-list-block-item-padding-small);}

  > a {@include to-rem(margin, -$u-list-block-item-padding-small);}
}

@if $u-list-block-apply-at-breakpoints-for-small {
  @include generate-at-breakpoints('.u-list-block--small{bp} > li',
    $u-list-block-apply-at-breakpoints) {

    &,
    > a {@include to-rem(padding, $u-list-block-item-padding-small);}

    > a {@include to-rem(margin, -$u-list-block-item-padding-small);}
  }
}// end if


/**
 * Modifier: large padding.
 */

%u-list-block--large > li,
.u-list-block--large > li {

  &,
  > a {@include to-rem(padding, $u-list-block-item-padding-large);}

  > a {@include to-rem(margin, -$u-list-block-item-padding-large);}
}

@if $u-list-block-apply-at-breakpoints-for-large {
  @include generate-at-breakpoints('.u-list-block--large{bp} > li',
    $u-list-block-apply-at-breakpoints) {

    &,
    > a {@include to-rem(padding, $u-list-block-item-padding-large);}

    > a {@include to-rem(margin, -$u-list-block-item-padding-large);}
  }
}// end if


/**
 * Modifier: huge padding.
 */

%u-list-block--huge > li,
.u-list-block--huge > li {

  &,
  > a {@include to-rem(padding, $u-list-block-item-padding-huge);}

  > a {@include to-rem(margin, -$u-list-block-item-padding-huge);}
}

@if $u-list-block-apply-at-breakpoints-for-huge {
  @include generate-at-breakpoints('.u-list-block--huge{bp} > li',
    $u-list-block-apply-at-breakpoints) {

    &,
    > a {@include to-rem(padding, $u-list-block-item-padding-huge);}

    > a {@include to-rem(margin, -$u-list-block-item-padding-huge);}
  }
}// end if


/**
 * Modifier: border.
 *
 * Add a keyline separator between the list items.
 */

%u-list-block--border,
.u-list-block--border {
  @include to-rem(border-top, $u-list-block-border-thickness solid
    $u-list-block-border-colour);

  > li {@include to-rem(border-bottom, $u-list-block-border-thickness solid
    $u-list-block-border-colour);}
}

@if $u-list-block-apply-at-breakpoints-for-border {
  @include generate-at-breakpoints('.u-list-block--border',
    $u-list-block-apply-at-breakpoints) {
    @include to-rem(border-top, $u-list-block-border-thickness solid
      $u-list-block-border-colour);

    > li {@include to-rem(border-bottom, $u-list-block-border-thickness solid
      $u-list-block-border-colour);}
  }
}// end if