/* ============================================================================
   @UTILITIES -> LINK DISGUISED
   ========================================================================= */


/**
 * Make a link not look like a link.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-link-disguised-apply-at-breakpoints:         $default-breakpoints !default;

// From above choose to turn this on or off
$u-link-disguised-apply-at-breakpoints-toggle:  true !default;


%u-link-disguised,
.u-link-disguised {
  cursor: text;

  &,
  &:visited,
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

@if $u-link-disguised-apply-at-breakpoints-toggle {
  @include generate-at-breakpoints('.u-link-disguised',
    $u-link-disguised-apply-at-breakpoints) {
    cursor: text;

    &,
    &:visited,
    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }
}// end if