/* ============================================================================
   @UTILITIES -> LINK COMPLEX
   ========================================================================= */


/**
 * A common pattern is to have a link with several pieces of text and/or an
 * icon, where only one piece of text should act like a link when the link is
 * the subject of user interaction.
 *
 * @markup
   <a class="u-link-complex" href="#">
     Link complex
     <span class="u-link-complex__target">target</span>
   </a>
 *
 * @credit
 * https://github.com/suitcss/utils-link/blob/master/lib/link.css
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-link-complex-apply-at-breakpoints:              $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-link-complex-apply-at-breakpoints-for-default:  false !default;

$u-link-complex-apply-at-breakpoints-for-target:   false !default;


%u-link-complex,
.u-link-complex {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

@if $u-link-complex-apply-at-breakpoints-for-default {
  @include generate-at-breakpoints('.u-link-complex', $u-link-complex-apply-at-breakpoints) {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }
}// end if


  /**
   * The piece of the link that needs to act like a link.
   */

  %u-link-complex__target,
  .u-link-complex__target {
    color: $link-colour;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $link-colour-hover;
    }
  }

  @if $u-link-complex-apply-at-breakpoints-for-target {
    @include generate-at-breakpoints('.u-link-complex__target',
      $u-link-complex-apply-at-breakpoints) {
      color: $colour-link;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $colour-link-hover;
      }
    }
  }// end if