/* ============================================================================
   @UTILITIES -> MOMENTUM SCROLLING
   ========================================================================= */


/**
 * Web pages on iOS by default have a "momentum" style scrolling where a flick
 * of the finger sends the web page scrolling and it keeps going until
 * eventually slowing down and stopping as if friction is slowing it down. You
 * might think that any element with scrolling would have this behavior as
 * well, but it doesn't. You can add it back by applying this utility.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-momentum-scrolling-apply-at-breakpoints:         $default-breakpoints !default;

// From above choose to turn this on or off
$u-momentum-scrolling-apply-at-breakpoints-toggle:  false !default;


%u-momentum-scrolling,
.u-momentum-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@if $u-momentum-scrolling-apply-at-breakpoints-toggle {
  @include generate-at-breakpoints('.u-momentum-scrolling',
    $u-momentum-scrolling-apply-at-breakpoints) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}// end if