/* ============================================================================
   @UTILITIES -> OVERLAY
   ========================================================================= */


/**
 * A simple semi-transparent overlay in a dark and light version and a version
 * that can be applied only on hover.
 *
 * N.B. this utility is dependant on the following utility:
 *
 * - Positioning.
 */


/**
 * Settings.
 */

// Dark
$u-overlay-colour-dark:                       $colour-black !default;

$u-overlay-opacity-strength-dark:             0.6 !default;

// Light
$u-overlay-colour-light:                      $colour-white !default;

$u-overlay-opacity-strength-light:            0.6 !default;

// Apply a transition?
$u-overlay-hover-apply-transition:            true !default;

// Hover transition duration
$u-overlay-hover-transition-duration:         0.2s !default;

// Hover transition timing function
$u-overlay-hover-transition-timing-function:  ease !default;


/**
 * Dark.
 */

%u-overlay-dark,
.u-overlay-dark {background-color: rgba($u-overlay-colour-dark, $u-overlay-opacity-strength-dark);}


/**
 * Light.
 */

%u-overlay-light,
.u-overlay-light {background-color: rgba($u-overlay-colour-light, $u-overlay-opacity-strength-light);}


/*
 * Hover version.
*/

%u-overlay-hover,
.u-overlay-hover {
  // Give the overlay it's positioning context
  position: relative;
  // Always render as block-level so it can be applied to inline to
  // elements like `a`
  display: block;


  /**
   * The overlay.
   */

  &:before {
    content: "";

    // Apply a transition?
    @if $u-overlay-hover-apply-transition {

      transition: background-color $u-overlay-hover-transition-duration
      $u-overlay-hover-transition-timing-function;

    }

    // Make transparent by default
    background-color: transparent;
    // Turn off pointer events for safe measure
    pointer-events: none;
    // Make it always cover the entire surface area
    position: absolute;
    @extend %u-position-pin-all;
  }


  /**
   * Apply the overlay on hover and focus if it's a native focusable element.
   */

  // Dark
  &.u-overlay-hover--dark:hover:before,
  &.u-overlay-hover--dark:focus:before {background-color: rgba($u-overlay-colour-dark, $u-overlay-opacity-strength-dark);}

  // Light
  &.u-overlay-hover--light:hover:before,
  &.u-overlay-hover--light:focus:before {background-color: rgba($u-overlay-colour-light, $u-overlay-opacity-strength-light);}
}