/* ============================================================================
   @UTILITIES -> POSITION
   ========================================================================= */


/**
 * Various utilities for positioning elements.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-position-apply-at-breakpoints:                        $default-breakpoints
!default;

// From the above choose what you want to apply it too
$u-position-apply-at-breakpoints-for-relative:           false !default;

$u-position-apply-at-breakpoints-for-absolute:           false !default;

$u-position-apply-at-breakpoints-for-fixed:              false !default;

$u-position-apply-at-breakpoints-for-static:             false !default;

$u-position-apply-at-breakpoints-for-left:               false !default;

$u-position-apply-at-breakpoints-for-right:              false !default;

$u-position-apply-at-breakpoints-for-top:                false !default;

$u-position-apply-at-breakpoints-for-bottom:             false !default;

$u-position-apply-at-breakpoints-for-top-left:           false !default;

$u-position-apply-at-breakpoints-for-top-right:          false !default;

$u-position-apply-at-breakpoints-for-bottom-left:        false !default;

$u-position-apply-at-breakpoints-for-bottom-right:       false !default;

$u-position-apply-at-breakpoints-for-pin-all:            false !default;

$u-position-apply-at-breakpoints-for-pin-ends:           false !default;

$u-position-apply-at-breakpoints-for-pin-sides:          false !default;

$u-position-apply-at-breakpoints-for-pin-sides-top:      false !default;

$u-position-apply-at-breakpoints-for-pin-sides-bottom:   false !default;

$u-position-apply-at-breakpoints-for-v-middle:           false !default;

$u-position-apply-at-breakpoints-for-h-middle:           false !default;

$u-position-apply-at-breakpoints-for-middle:             false !default;


/**
 * Set positioning contexts.
 */

// Relative
%u-position-relative,
.u-position-relative {position: relative;}

@if $u-position-apply-at-breakpoints-for-relative {
  @include generate-at-breakpoints('.u-position-relative',
    $u-position-apply-at-breakpoints) {position: relative;}
}// end if

// Absolute
%u-position-absolute,
.u-position-absolute {position: absolute;}

@if $u-position-apply-at-breakpoints-for-absolute {
  @include generate-at-breakpoints('.u-position-absolute',
    $u-position-apply-at-breakpoints) {position: absolute;}
}// end if

// Fixed
%u-position-fixed,
.u-position-fixed {position: fixed;}

@if $u-position-apply-at-breakpoints-for-fixed {
  @include generate-at-breakpoints('.u-position-fixed',
    $u-position-apply-at-breakpoints) {position: fixed;}
}// end if

// Static
%u-position-static,
.u-position-static {position: static;}

@if $u-position-apply-at-breakpoints-for-static {
  @include generate-at-breakpoints('.u-position-static',
    $u-position-apply-at-breakpoints) {position: static;}
}// end if


/**
 * Different ways to position an element.
 */

// Left
%u-position-left,
.u-position-left {left: 0;}

@if $u-position-apply-at-breakpoints-for-left {
  @include generate-at-breakpoints('.u-position-left',
    $u-position-apply-at-breakpoints) {left: 0;}
}// end if

// Right
%u-position-right,
.u-position-right {right: 0;}

@if $u-position-apply-at-breakpoints-for-right {
  @include generate-at-breakpoints('.u-position-right',
    $u-position-apply-at-breakpoints) {right: 0;}
}// end if

// Top
%u-position-top,
.u-position-top {top: 0;}

@if $u-position-apply-at-breakpoints-for-top {
  @include generate-at-breakpoints('.u-position-top',
    $u-position-apply-at-breakpoints) {top: 0;}
}// end if

// Bottom
%u-position-bottom,
.u-position-bottom {bottom: 0;}

@if $u-position-apply-at-breakpoints-for-bottom {
  @include generate-at-breakpoints('.u-position-bottom',
    $u-position-apply-at-breakpoints) {bottom: 0;}
}// end if

// Top left corner
%u-position-top-left,
.u-position-top-left {
  top: 0;
  left: 0;
}

@if $u-position-apply-at-breakpoints-for-top-left {
  @include generate-at-breakpoints('.u-position-top-left',
    $u-position-apply-at-breakpoints) {
    top: 0;
    left: 0;
  }
}// end if

// Top right corner
%u-position-top-right,
.u-position-top-right {
  top: 0;
  right: 0;
}

@if $u-position-apply-at-breakpoints-for-top-right {
  @include generate-at-breakpoints('.u-position-top-right',
    $u-position-apply-at-breakpoints) {
    top: 0;
    right: 0;
  }
}// end if

// Bottom left corner
%u-position-bottom-left,
.u-position-bottom-left {
  bottom: 0;
  left: 0;
}

@if $u-position-apply-at-breakpoints-for-bottom-left {
  @include generate-at-breakpoints('.u-position-bottom-left',
    $u-position-apply-at-breakpoints) {
    bottom: 0;
    left: 0;
  }
}// end if

// Bottom right corner
%u-position-bottom-right,
.u-position-bottom-right {
  bottom: 0;
  right: 0;
}

@if $u-position-apply-at-breakpoints-for-bottom-right {
  @include generate-at-breakpoints('.u-position-bottom-right',
    $u-position-apply-at-breakpoints) {
    bottom: 0;
    right: 0;
  }
}// end if

// Pin to all corners
%u-position-pin-all,
.u-position-pin-all {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@if $u-position-apply-at-breakpoints-for-pin-all {
  @include generate-at-breakpoints('.u-position-pin-all',
    $u-position-apply-at-breakpoints) {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}// end if

// Pin to top and bottom
%u-position-pin-ends,
.u-position-pin-ends {
  top: 0;
  bottom: 0;
}

@if $u-position-apply-at-breakpoints-for-pin-ends {
  @include generate-at-breakpoints('.u-position-pin-ends',
    $u-position-apply-at-breakpoints) {
    top: 0;
    bottom: 0;
  }
}// end if

// Pin to the sides
%u-position-pin-sides,
.u-position-pin-sides {
  left: 0;
  right: 0;
}

@if $u-position-apply-at-breakpoints-for-pin-sides {
  @include generate-at-breakpoints('.u-position-pin-sides',
    $u-position-apply-at-breakpoints) {
    left: 0;
    right: 0;
  }
}// end if

// Pin to the sides and top
%u-position-pin-sides-top,
.u-position-pin-sides-top {
  left: 0;
  right: 0;
  top: 0;
}

@if $u-position-apply-at-breakpoints-for-pin-sides-top {
  @include generate-at-breakpoints('.u-position-pin-sides-top',
    $u-position-apply-at-breakpoints) {
    left: 0;
    right: 0;
    top: 0;
  }
}// end if

// Pin to the sides and bottom
%u-position-pin-sides-bottom,
.u-position-pin-sides-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

@if $u-position-apply-at-breakpoints-for-pin-sides-bottom {
  @include generate-at-breakpoints('.u-position-pin-sides-bottom',
    $u-position-apply-at-breakpoints) {
    left: 0;
    right: 0;
    bottom: 0;
  }
}// end if

// Vertically in the middle
%u-position-v-middle,
.u-position-v-middle {
  top: 50%;
  transform: translateY(-50%);
}

@if $u-position-apply-at-breakpoints-for-v-middle {
  @include generate-at-breakpoints('.u-position-v-middle',
    $u-position-apply-at-breakpoints) {
    top: 50%;
    transform: translateY(-50%);
  }
}// end if

// Horizontally in the middle
%u-position-h-middle,
.u-position-h-middle {
  left: 50%;
  transform: translateX(-50%);
}

@if $u-position-apply-at-breakpoints-for-h-middle {
  @include generate-at-breakpoints('.u-position-h-middle',
    $u-position-apply-at-breakpoints) {
    left: 50%;
    transform: translateX(-50%);
  }
}// end if

// Vertically and horizontally in the middle
%u-position-middle,
.u-position-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@if $u-position-apply-at-breakpoints-for-middle {
  @include generate-at-breakpoints('.u-position-middle',
    $u-position-apply-at-breakpoints) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}// end if