/* ======================================================================================
   @UTILITIES -> RENDERING BOX
   ====================================================================================== */


/**
 * Apply the most common types of box renderings.
 *
 * @todo
 * Look at adding 'Flexbox'.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#rendering-box
 */


/**
 * Block, inline, and inline-block.
 */

%u-rendering-box-block,
.u-rendering-box-block {display: block;}

%u-rendering-box-inline,
.u-rendering-box-inline {display: inline;}

%u-rendering-box-inline-block,
.u-rendering-box-inline-block {display: inline-block;}


/**
 * Table display.
 */

%u-rendering-box-table,
.u-rendering-box-table {display: table;}

%u-rendering-box-table-row,
.u-rendering-box-table-row {display: table-row;}

%u-rendering-box-table-cell,
.u-rendering-box-table-cell {display: table-cell;}


/**
 * Inherit.
 */

%u-rendering-box-inherit,
.u-rendering-box-inherit {display: inherit;}