/* ============================================================================
   @UTILITIES -> TABLE
   ========================================================================= */


/**
 * A table utility that provides very common table styles which can be
 * extended with a number of modifiers e.g. `.u-table--striped` which applies
 * a background colour to every odd row.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-table-apply-at-breakpoints:                           $default-breakpoints !default;

// From the above choose what you want to apply it too
$u-table-apply-at-breakpoints-for-default:             false !default;

$u-table-apply-at-breakpoints-for-striped:             false !default;

$u-table-apply-at-breakpoints-for-border:              false !default;

$u-table-apply-at-breakpoints-for-fixed:               false !default;

$u-table-apply-at-breakpoints-for-cell-padding-small:  false !default;

$u-table-apply-at-breakpoints-for-cell-padding-large:  false !default;

$u-table-apply-at-breakpoints-for-cell-padding-none:   false !default;

/**
 * Cell padding.
 */

$u-table-cell-padding-base:                     $spacing-half !default;

$u-table-cell-padding-small:                    $spacing-quarter !default;

$u-table-cell-padding-large:                    $spacing-base !default;

/**
 * Cosmetics.
 */

$u-table-border-colour:                         darken($colour-white, 10%)
!default;

$u-table-border-thickness:                      1 !default;

$u-table-border-style:                          solid !default;

$u-table-striped-background-cell-colour:        $u-table-border-colour !default;


%u-table,
.u-table {
  // Stretch to full width of it's parent
  width: 100%;

  // Some sensible defaults
  caption,
  th {text-align: left;}

  // Cell padding
  th,
  td {@include to-rem(padding, $u-table-cell-padding-base);}
}

@if $u-table-apply-at-breakpoints-for-default {
  @include generate-at-breakpoints('.u-table', $u-table-apply-at-breakpoints) {
    width: 100%;

    caption,
    th {text-align: left;}

    th,
    td {@include to-rem(padding, $u-table-cell-padding-base);}
  }
}// end if


/**
 * Modifier: striped.
 *
 * Applies a background colour to every odd row.
 */

%u-table--striped,
.u-table--striped {
  tr:nth-of-type(odd) td {background-color: $u-table-striped-background-cell-colour;}
}

@if $u-table-apply-at-breakpoints-for-striped {
  @include generate-at-breakpoints('.u-table--striped', $u-table-apply-at-breakpoints) {
    tr:nth-of-type(odd) td {background-color: $u-table-striped-background-cell-colour;}
  }
}// end if


/**
 * Modifier: border.
 */

%u-table--border,
.u-table--border {
  th,
  td {
    @include to-rem(border, $u-table-border-thickness $u-table-border-style
      $u-table-border-colour);

    // No borders for empty cells
    &:empty {border: 0;}
  }
}

@if $u-table-apply-at-breakpoints-for-border {
  @include generate-at-breakpoints('.u-table--border', $u-table-apply-at-breakpoints) {
    th,
    td {
      @include to-rem(border, $u-table-border-thickness $u-table-border-style
        $u-table-border-colour);

      &:empty {border: 0;}
    }
  }
}// end if


/**
 * Modifier: layout fixed.
 *
 * Force tables into having equal-width column.
 */

%u-table--fixed,
.u-table--fixed {table-layout: fixed;}

@if $u-table-apply-at-breakpoints-for-fixed {
  @include generate-at-breakpoints('.u-table--fixed', $u-table-apply-at-breakpoints) {
    table-layout: fixed;}
}// end if


/**
 * Modifier: small cell padding.
 */

%u-table--cell-padding-small,
.u-table--cell-padding-small {
  th,
  td {@include to-rem(padding, $u-table-cell-padding-small);}
}

@if $u-table-apply-at-breakpoints-for-cell-padding-small {
  @include generate-at-breakpoints('.u-table--cell-padding-small',
    $u-table-apply-at-breakpoints) {
    th,
    td {@include to-rem(padding, $u-table-cell-padding-small);}
  }
}// end if


/**
 * Modifier: large cell padding.
 */

%u-table--cell-padding-large,
.u-table--cell-padding-large {
  th,
  td {@include to-rem(padding, $u-table-cell-padding-large);}
}

@if $u-table-apply-at-breakpoints-for-cell-padding-large {
  @include generate-at-breakpoints('.u-table--cell-padding-large',
    $u-table-apply-at-breakpoints) {
    th,
    td {@include to-rem(padding, $u-table-cell-padding-large);}
  }
}// end if


/**
 * Modifier: no cell padding.
 */

%u-table--no-cell-padding,
.u-table--no-cell-padding {
  th,
  td {padding: 0;}
}

@if $u-table-apply-at-breakpoints-for-cell-padding-none {
  @include generate-at-breakpoints('.u-table--no-cell-padding',
    $u-table-apply-at-breakpoints) {
    th,
    td {padding: 0;}
  }
}// end if