/* ============================================================================
   @UTILITIES -> TEXT
   ========================================================================= */


/**
 * Various handy utilities for text.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#text
 */


/**
 * Settings.
 */

/**
 * Apply at breakpoints.
 */

// Which breakpoints do you want to use?
$u-text-breakpoints:                              $default-breakpoints !default;

// What do you want to apply it too?
$u-text-breakpoint-toggle-size-small:             false !default;

$u-text-breakpoint-toggle-size-x-small:           false !default;

$u-text-breakpoint-toggle-size-xx-small:          false !default;

$u-text-breakpoint-toggle-size-xxx-small:         false !default;

$u-text-breakpoint-toggle-size-large:             false !default;

$u-text-breakpoint-toggle-size-x-large:           false !default;

$u-text-breakpoint-toggle-size-xx-large:          false !default;

$u-text-breakpoint-toggle-size-xxx-large:         false !default;

$u-text-breakpoint-toggle-size-base:              false !default;

$u-text-breakpoint-toggle-size-inherit:           false !default;

$u-text-breakpoint-toggle-align-left:             false !default;

$u-text-breakpoint-toggle-align-center:           false !default;

$u-text-breakpoint-toggle-align-right:            false !default;

$u-text-breakpoint-toggle-align-inherit:          false !default;

$u-text-breakpoint-toggle-style-italic:           false !default;

$u-text-breakpoint-toggle-style-normal:           false !default;

$u-text-breakpoint-toggle-style-inherit:          false !default;

$u-text-breakpoint-toggle-weight-lighter:         false !default;

$u-text-breakpoint-toggle-weight-bold:            false !default;

$u-text-breakpoint-toggle-weight-bolder:          false !default;

$u-text-breakpoint-toggle-weight-inherit:         false !default;

$u-text-breakpoint-toggle-weight-normal:          false !default;

$u-text-breakpoint-toggle-transform-uppercase:   false !default;

$u-text-breakpoint-toggle-transform-lowercase:   false !default;

$u-text-breakpoint-toggle-transform-capitalise:  false !default;

$u-text-breakpoint-toggle-transform-inherit:     false !default;

$u-text-breakpoint-toggle-transform-none:        false !default;

$u-text-breakpoint-toggle-colour-white:           false !default;

$u-text-breakpoint-toggle-colour-black:           false !default;

$u-text-breakpoint-toggle-colour-brand:           false !default;

$u-text-breakpoint-toggle-colour-text-base:       false !default;

$u-text-breakpoint-toggle-colour-text-primary:    false !default;

$u-text-breakpoint-toggle-colour-text-secondary:  false !default;

$u-text-breakpoint-toggle-colour-inherit:         false !default;

$u-text-breakpoint-toggle-whitespace-normal:      false !default;

$u-text-breakpoint-toggle-whitespace-pre:         false !default;

$u-text-breakpoint-toggle-whitespace-nowrap:      false !default;

$u-text-breakpoint-toggle-truncate:               false !default;

$u-text-breakpoint-toggle-break-word:             false !default;

$u-text-breakpoint-toggle-hyphenate:              false !default;


/**
 * Size.
 */

// Smaller
%u-text-size-small,
.u-text-size-small {@include font-size($font-size-small);}

@if $u-text-breakpoint-toggle-size-small {
  @include generate-at-breakpoints('.u-text-size-small',
    $u-text-breakpoints) {@include font-size($font-size-small);}
}// end if

%u-text-size-x-small,
.u-text-size-x-small {@include font-size($font-size-x-small);}

@if $u-text-breakpoint-toggle-size-x-small {
  @include generate-at-breakpoints('.u-text-size-x-small',
    $u-text-breakpoints) {@include font-size($font-size-x-small);}
}// end if

%u-text-size-xx-small,
.u-text-size-xx-small {@include font-size($font-size-xx-small);}

@if $u-text-breakpoint-toggle-size-xx-small {
  @include generate-at-breakpoints('.u-text-size-xx-small',
    $u-text-breakpoints) {@include font-size($font-size-xx-small);}
}// end if

%u-text-size-xxx-small,
.u-text-size-xxx-small {@include font-size($font-size-xxx-small);}

@if $u-text-breakpoint-toggle-size-xxx-small {
  @include generate-at-breakpoints('.u-text-size-xxx-small',
    $u-text-breakpoints) {@include font-size($font-size-xxx-small);}
}// end if

// Larger
%u-text-size-large,
.u-text-size-large {@include font-size($font-size-large);}

@if $u-text-breakpoint-toggle-size-large {
  @include generate-at-breakpoints('.u-text-size-large',
    $u-text-breakpoints) {@include font-size($font-size-large);}
}// end if

%u-text-size-x-large,
.u-text-size-x-large {@include font-size($font-size-x-large);}

@if $u-text-breakpoint-toggle-size-x-large {
  @include generate-at-breakpoints('.u-text-size-x-large',
    $u-text-breakpoints) {@include font-size($font-size-x-large);}
}// end if

%u-text-size-xx-large,
.u-text-size-xx-large {@include font-size($font-size-xx-large);}

@if $u-text-breakpoint-toggle-size-xx-large {
  @include generate-at-breakpoints('.u-text-size-xx-large',
    $u-text-breakpoints) {@include font-size($font-size-xx-large);}
}// end if

%u-text-size-xxx-large,
.u-text-size-xxx-large {@include font-size($font-size-xxx-large);}

@if $u-text-breakpoint-toggle-size-xxx-large {
  @include generate-at-breakpoints('.u-text-size-xxx-large',
    $u-text-breakpoints) {@include font-size($font-size-xxx-large);}
}// end if

// Base
%u-text-size-base,
.u-text-size-base {@include font-size($font-size);}

@if $u-text-breakpoint-toggle-size-base {
  @include generate-at-breakpoints('.u-text-size-base',
    $u-text-breakpoints) {@include font-size($font-size);}
}// end if

// Inherit
%u-text-size-inherit,
.u-text-size-inherit {font-size: inherit;}

@if $u-text-breakpoint-toggle-size-inherit {
  @include generate-at-breakpoints('.u-text-size-inherit',
    $u-text-breakpoints) {font-size: inherit;}
}// end if


/**
 * Alignment.
 */

%u-text-align-center,
.u-text-align-center {text-align: center;}

@if $u-text-breakpoint-toggle-align-center {
  @include generate-at-breakpoints('.u-text-align-center',
    $u-text-breakpoints) {text-align: center;}
}// end if

%u-text-align-left,
.u-text-align-left {text-align: left;}

@if $u-text-breakpoint-toggle-align-left {
  @include generate-at-breakpoints('.u-text-align-left',
    $u-text-breakpoints) {text-align: left;}
}// end if

%u-text-align-right,
.u-text-align-right {text-align: right;}

@if $u-text-breakpoint-toggle-align-right {
  @include generate-at-breakpoints('.u-text-align-right',
    $u-text-breakpoints) {text-align: right;}
}// end if

%u-text-align-inherit,
.u-text-align-inherit {text-align: inherit;}

@if $u-text-breakpoint-toggle-align-inherit {
  @include generate-at-breakpoints('.u-text-align-inherit',
    $u-text-breakpoints) {text-align: inherit;}
}// end if


/**
 * Style.
 */

%u-text-style-italic,
.u-text-style-italic {font-style: italic;}

@if $u-text-breakpoint-toggle-style-italic {
  @include generate-at-breakpoints('.u-text-style-italic',
    $u-text-breakpoints) {font-style: italic;}
}// end if

%u-text-style-normal,
.u-text-style-normal {font-style: normal;}

@if $u-text-breakpoint-toggle-style-normal {
  @include generate-at-breakpoints('.u-text-style-normal',
    $u-text-breakpoints) {font-style: normal;}
}// end if

%u-text-style-inherit,
.u-text-style-inherit {font-style: inherit;}

@if $u-text-breakpoint-toggle-style-inherit {
  @include generate-at-breakpoints('.u-text-style-inherit',
    $u-text-breakpoints) {font-style: inherit;}
}// end if


/**
 * Weight.
 */

// Lighter
%u-text-weight-lighter,
.u-text-weight-lighter {font-weight: lighter;}

@if $u-text-breakpoint-toggle-weight-lighter {
  @include generate-at-breakpoints('.u-text-weight-lighter',
    $u-text-breakpoints) {font-weight: lighter;}
}// end if

// Bolder
%u-text-weight-bold,
.u-text-weight-bold {font-weight: bold;}

@if $u-text-breakpoint-toggle-weight-bold {
  @include generate-at-breakpoints('.u-text-weight-bold',
    $u-text-breakpoints) {font-weight: bold;}
}// end if

%u-text-weight-bolder,
.u-text-weight-bolder {font-weight: bolder;}

@if $u-text-breakpoint-toggle-weight-bolder {
  @include generate-at-breakpoints('.u-text-weight-bolder',
    $u-text-breakpoints) {font-weight: bolder;}
}// end if

// Inherit
%u-text-weight-inherit,
.u-text-weight-inherit {font-weight: inherit;}

@if $u-text-breakpoint-toggle-weight-inherit {
  @include generate-at-breakpoints('.u-text-weight-inherit',
    $u-text-breakpoints) {font-weight: inherit;}
}// end if

// Normal
%u-text-weight-normal,
.u-text-weight-normal {font-weight: normal;}

@if $u-text-breakpoint-toggle-weight-normal {
  @include generate-at-breakpoints('.u-text-weight-normal',
    $u-text-breakpoints) {font-weight: normal;}
}// end if


/**
 * Transform.
 */

%u-text-transform-uppercase,
.u-text-transform-uppercase {text-transform: uppercase;}

@if $u-text-breakpoint-toggle-transform-uppercase {
  @include generate-at-breakpoints('.u-text-transform-uppercase',
    $u-text-breakpoints) {text-transform: uppercase;}
}// end if

%u-text-transform-lowercase,
.u-text-transform-lowercase {text-transform: lowercase;}

@if $u-text-breakpoint-toggle-transform-lowercase {
  @include generate-at-breakpoints('.u-text-transform-lowercase',
    $u-text-breakpoints) {text-transform: lowercase;}
}// end if

%u-text-transform-capitalise,
.u-text-transform-capitalise {text-transform: capitalize;}

@if $u-text-breakpoint-toggle-transform-capitalise {
  @include generate-at-breakpoints('.u-text-transform-capitalise',
    $u-text-breakpoints) {text-transform: capitalize;}
}// end if

%u-text-transform-inherit,
.u-text-transform-inherit {text-transform: inherit;}

@if $u-text-breakpoint-toggle-transform-inherit {
  @include generate-at-breakpoints('.u-text-transform-inherit',
    $u-text-breakpoints) {text-transform: inherit;}
}// end if

%u-text-transform-none,
.u-text-transform-none {text-transform: none;}

@if $u-text-breakpoint-toggle-transform-none {
  @include generate-at-breakpoints('.u-text-transform-none',
    $u-text-breakpoints) {text-transform: none;}
}// end if


/**
 * Colour.
 */

%u-text-colour-white,
.u-text-colour-white {color: $colour-white;}

@if $u-text-breakpoint-toggle-colour-white {
  @include generate-at-breakpoints('.u-text-colour-white',
    $u-text-breakpoints) {color: $colour-white;}
}// end if

%u-text-colour-black,
.u-text-colour-black {color: $colour-black;}

@if $u-text-breakpoint-toggle-colour-black {
  @include generate-at-breakpoints('.u-text-colour-black',
    $u-text-breakpoints) {color: $colour-black;}
}// end if

%u-text-colour-brand,
.u-text-colour-brand {color: $colour-brand;}

@if $u-text-breakpoint-toggle-colour-brand {
  @include generate-at-breakpoints('.u-text-colour-brand',
    $u-text-breakpoints) {color: $colour-brand;}
}// end if

%u-text-colour-text-base,
.u-text-colour-text-base {color: $colour-text-base;}

@if $u-text-breakpoint-toggle-colour-text-base {
  @include generate-at-breakpoints('.u-text-colour-text-base',
    $u-text-breakpoints) {color: $colour-text-base;}
}// end if

%u-text-colour-text-primary,
.u-text-colour-text-primary {color: $colour-primary;}

@if $u-text-breakpoint-toggle-colour-text-primary {
  @include generate-at-breakpoints('.u-text-colour-text-primary',
    $u-text-breakpoints) {color: $colour-primary;}
}// end if

%u-text-colour-text-secondary,
.u-text-colour-text-secondary {color: $colour-secondary;}

@if $u-text-breakpoint-toggle-colour-text-secondary {
  @include generate-at-breakpoints('.u-text-colour-text-secondary',
    $u-text-breakpoints) {color: $colour-secondary;}
}// end if

%u-text-colour-inherit,
.u-text-colour-inherit {color: inherit;}

@if $u-text-breakpoint-toggle-colour-inherit {
  @include generate-at-breakpoints('.u-text-colour-inherit',
    $u-text-breakpoints) {color: inherit;}
}// end if


/**
 * Whitespace.
 */

%u-text-whitespace-normal,
.u-text-whitespace-normal {white-space: normal;}

@if $u-text-breakpoint-toggle-whitespace-normal {
  @include generate-at-breakpoints('.u-text-whitespace-normal',
    $u-text-breakpoints) {white-space: normal;}
}// end if

%u-text-whitespace-pre,
.u-text-whitespace-pre {white-space: pre;}

@if $u-text-breakpoint-toggle-whitespace-pre {
  @include generate-at-breakpoints('.u-text-whitespace-pre',
    $u-text-breakpoints) {white-space: pre;}
}// end if

%u-text-whitespace-nowrap,
.u-text-whitespace-nowrap {white-space: nowrap;}

@if $u-text-breakpoint-toggle-whitespace-nowrap {
  @include generate-at-breakpoints('.u-text-whitespace-nowrap',
    $u-text-breakpoints) {white-space: nowrap;}
}// end if


/**
 * Truncation.
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor nodes.
 *
 * @credit
 * https://github.com/suitcss/utils-text/blob/master/lib/text.css
 */

%u-text-truncate,
.u-text-truncate {
  max-width: 100%; // [1]
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; // [2]
}

@if $u-text-breakpoint-toggle-truncate {
  @include generate-at-breakpoints('.u-text-truncate', $u-text-breakpoints) {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}// end if


/**
 * Enables font kerning in all browsers.
 *
 * 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android.
 * 2. Chrome (not Windows), Firefox, IE 10+.
 * 3. Safari 7 and future browsers.
 *
 * @credit
 * http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 */

%u-text-kern,
.u-text-kern {
  text-rendering: optimizeLegibility; // [1]
  font-feature-settings: "kern" 1; // [2]
  font-kerning: normal; // [3]
}


/**
 * Word breaking.
 *
 * Break strings when their length exceeds the width of their container.
 */

%u-text-break-word,
.u-text-break-word {word-wrap: break-word;}

@if $u-text-breakpoint-toggle-break-word {
  @include generate-at-breakpoints('.u-text-break-word', $u-text-breakpoints) {word-wrap: break-word;}
}// end if


/**
 * Hyphenation.
 */

%u-text-hyphenate,
.u-text-hyphenate {hyphens: auto;}

@if $u-text-breakpoint-toggle-hyphenate {
  @include generate-at-breakpoints('.u-text-hyphenate', $u-text-breakpoints) {hyphens: auto;}
}// end if