/* ============================================================================
   @UTILITIES -> TOGGLE VISIBILITY
   ========================================================================= */


/**
 * Simply toggling the visibility of an element via a state class:
 * `is-visible` (or whatever you choose) which is powered by JavaScript.
 */


/**
 * Settings.
 */

/**
 * Toggle on/off certain styles and treatments.
 */

// Apply at these breakpoints
$u-toggle-visibility-apply-at-breakpoints:                     $default-breakpoints
!default;

// From the above choose what you want to apply it too
$u-toggle-visibility-apply-at-breakpoints-for-default:       false !default;

$u-toggle-visibility-apply-at-breakpoints-for-inline:        false !default;

$u-toggle-visibility-apply-at-breakpoints-for-inline-block:  false !default;

// The state class that is powered by JavaScript
$u-toggle-visibility-state-class:                     is-visible !default;


%u-toggle-visibility,
.u-toggle-visibility {
  // Hide by default
  display: none;

  // Show via state class and for non-JavaScript
  &.#{$u-toggle-visibility-state-class},
  .no-js & {display: block;}
}

@if $u-toggle-visibility-apply-at-breakpoints-for-default {
  @include generate-at-breakpoints('.u-toggle-visibility',
    $u-toggle-visibility-apply-at-breakpoints) {
    display: none;

    &.#{$u-toggle-visibility-state-class},
    .no-js & {display: block;}
  }
}// end if


/**
 * Modifier: for `inline` elements.
 */

%u-toggle-visibility--inline,
.u-toggle-visibility--inline {
  // Show via state class and for non-JavaScript
  &.#{$u-toggle-visibility-state-class},
  .no-js & {display: inline;}
}

@if $u-toggle-visibility-apply-at-breakpoints-for-inline {
  @include generate-at-breakpoints('.u-toggle-visibility--inline',
    $u-toggle-visibility-apply-at-breakpoints) {
    &.#{$u-toggle-visibility-state-class},
    .no-js & {display: inline;}
  }
}// end if


/**
 * Modifier: for `inline-block` elements.
 */

%u-toggle-visibility--inline-block,
.u-toggle-visibility--inline-block {
  // Show via state class and for non-JavaScript
  &.#{$u-toggle-visibility-state-class},
  .no-js & {display: inline-block;}
}

@if $u-toggle-visibility-apply-at-breakpoints-for-inline-block {
  @include generate-at-breakpoints('.u-toggle-visibility--inline-block',
    $u-toggle-visibility-apply-at-breakpoints) {
    &.#{$u-toggle-visibility-state-class},
    .no-js & {display: inline-block;}
  }
}// end if