/* ============================================================================
   @UTILITIES -> WIDTHS
   ========================================================================= */


/**
 * Apply percentage based width classes with the option to apply at all the
 * main breakpoints.
 *
 * Mostly used with the grid.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/cjyHK/
 */


/**
 * Settings.
 */

// Apply width classes at specific breakpoints
//
// N.B. by default we're turning on Lap plus (non-palm)
$width-classes-at-breakpoint-lap:                 true !default;

$width-classes-at-breakpoint-lap-range:           false !default;

$width-classes-at-breakpoint-lap-large:           false !default;

$width-classes-at-breakpoint-lap-large-range:     false !default;

$width-classes-at-breakpoint-desk:                false !default;

$width-classes-at-breakpoint-desk-small-range:    false !default;

$width-classes-at-breakpoint-desk-large:          false !default;


/**
 * Generate all the width classes.
 */

@mixin width-classes($namespace: null) {

  /**
   * Whole.
   */

  .u-#{$namespace}one-whole {width: $one-whole;}


  /**
   * Halves.
   */

  .u-#{$namespace}one-half {width: $one-half;}


  /**
   * Thirds.
   */

  .u-#{$namespace}one-third {width: $one-third;}

  .u-#{$namespace}two-thirds {width: $two-thirds;}


  /**
   * Quarters.
   */

  .u-#{$namespace}one-quarter {width: $one-quarter;}

  .u-#{$namespace}two-quarters {width: $one-half;}

  .u-#{$namespace}three-quarters {width: $three-quarters;}


  /**
   * Fifths.
   */

  .u-#{$namespace}one-fifth {width: $one-fifth;}

  .u-#{$namespace}two-fifths {width: $two-fifths;}

  .u-#{$namespace}three-fifths {width: $three-fifths;}

  .u-#{$namespace}four-fifths {width: $four-fifths;}


  /**
   * Sixths.
   */

  .u-#{$namespace}one-sixth {width: $one-sixth;}

  .u-#{$namespace}two-sixths {width: $one-third;}

  .u-#{$namespace}three-sixths {width: $one-half;}

  .u-#{$namespace}four-sixths {width: $two-thirds;}

  .u-#{$namespace}five-sixths {width: $five-sixths;}


  /**
   * Sevenths.
   */

  .u-#{$namespace}one-seventh {width: $one-seventh;}

  .u-#{$namespace}two-sevenths {width: $two-sevenths;}

  .u-#{$namespace}three-sevenths {width: $three-sevenths;}

  .u-#{$namespace}four-sevenths {width: $four-sevenths;}

  .u-#{$namespace}five-sevenths {width: $five-sevenths;}

  .u-#{$namespace}six-sevenths {width: $six-sevenths;}


  /**
   * Eighths.
   */

  .u-#{$namespace}one-eighth {width: $one-eighth;}

  .u-#{$namespace}two-eighths {width: $one-quarter;}

  .u-#{$namespace}three-eighths {width: $three-eighths;}

  .u-#{$namespace}four-eighths {width: $one-half;}

  .u-#{$namespace}five-eighths {width: $five-eighths;}

  .u-#{$namespace}six-eighths {width: $three-quarters;}

  .u-#{$namespace}seven-eighths {width: $seven-eighths;}


  /**
   * Tenths.
   */

  .u-#{$namespace}one-tenth {width: $one-tenth;}

  .u-#{$namespace}two-tenths {width: $one-fifth;}

  .u-#{$namespace}three-tenths {width: $three-tenths;}

  .u-#{$namespace}four-tenths {width: $two-fifths;}

  .u-#{$namespace}five-tenths {width: $one-half;}

  .u-#{$namespace}six-tenths {width: $three-fifths;}

  .u-#{$namespace}seven-tenths {width: $seven-tenths;}

  .u-#{$namespace}eight-tenths {width: $four-fifths;}

  .u-#{$namespace}nine-tenths {width: $nine-tenths;}


  /**
   * Twelfths.
   */

  .u-#{$namespace}one-twelfth {width: $one-twelfth;}

  .u-#{$namespace}two-twelfths {width: $one-sixth;}

  .u-#{$namespace}three-twelfths {width: $one-quarter;}

  .u-#{$namespace}four-twelfths {width: $one-third;}

  .u-#{$namespace}five-twelfths {width: $five-twelfths;}

  .u-#{$namespace}six-twelfths {width: $one-half;}

  .u-#{$namespace}seven-twelfths {width: $seven-twelfths;}

  .u-#{$namespace}eight-twelfths {width: $two-thirds;}

  .u-#{$namespace}nine-twelfths {width: $three-quarters;}

  .u-#{$namespace}ten-twelfths {width: $five-sixths;}

  .u-#{$namespace}eleven-twelfths {width: $eleven-twelfths;}
}


/**
 * Output them all.
 */

@include width-classes();


/**
 * Output at specific breakpoints e.g. `.l-lap-one-half`.
 */


/**
 * Lap and up.
 */

@if $width-classes-at-breakpoint-lap {
  @include respond-to(lap) {
    @include width-classes("lap-");
  }
}// endif


/**
 * Lap range.
 */

@if $width-classes-at-breakpoint-lap-range {
  @include respond-range(lap) {
    @include width-classes("lap-range-");
  }
}// endif


/**
 * Lap large and up.
 */

@if $width-classes-at-breakpoint-lap-large {
  @include respond-to(lap-large) {
    @include width-classes("lap-large-");
  }
}// endif


/**
 * Lap large range.
 */

@if $width-classes-at-breakpoint-lap-large-range {
  @include respond-range(lap-large) {
    @include width-classes("lap-large-range-");
  }
}// endif


/**
 * Desk and up.
 */

@if $width-classes-at-breakpoint-desk {
  @include respond-to(desk) {
    @include width-classes("desk-");
  }
}// endif


/**
 * Desk small range.
 */

@if $width-classes-at-breakpoint-desk-small-range {
  @include respond-range(desk) {
    @include width-classes("desk-small-range-");
  }
}// endif


/**
 * Desk large.
 */

@if $width-classes-at-breakpoint-desk-large {
  @include respond-to(desk-large) {
    @include width-classes("desk-large-");
  }
}// endif