/* ======================================================================================
   @LAYOUT -> CONTAINERS
   ====================================================================================== */

.container {
	width: $page-container-width;
	@include to-rem(min-width, $page-container-min-width);
	@include to-rem(max-width, $page-container-max-width);
	margin: 0 auto;

	/* Print */
	@media print {
		width: auto;
	}
}

/* Modifier: wide container */
.container--wide {
  width: auto;
  max-width: none;
}

/* Modifier: position relative container */
.container--position {position: relative;}