/* ======================================================================================
   @LAYOUT -> CONTAINER
   ====================================================================================== */


/**
 * The main container that wraps all major layout pieces so that we keep all layout consistent. The
 * container is responsive in that it will be a fluid width using '%' up until it hits it's
 * maximum width which is stored in 'Settings -> Layout', along with the minimum width. And it's
 * center aligned by default.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/GiCzg/
 */

.l-container {
  width: $container-width;
  @include to-rem(min-width, $container-minimum-width);
  @include to-rem(max-width, $container-maximum-width);
  margin: 0 auto;

  /* Print */
  @media print {
    width: auto;
  }
}

/**
 * Modifier: full bleed container.
 */

.l-container--full-bleed {
  width: auto;
  max-width: none;
}

/**
 * Modifier: not centered.
 */

.l-container--not-centered {
  margin-left: 0;
  margin-right: 0;
}