/* ============================================================================
   @LAYOUT -> GRID -> PUSH
   ========================================================================= */


/**
 * Push grid items over to the left by certain amounts with the option to
 * apply at all the main breakpoints.
 *
 * @credit
 * https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
 */


/**
 * Settings.
 */

// Turned off by default as this generates a lot of CSS
$l-grid-push-apply:                 false !default;

// Apply at these breakpoints
$l-grid-push-apply-at-breakpoints:  (lap) !default;


/**
 * Generate all the push classes.
 */

@if $l-grid-push-apply {
  @include generate-percentage-classes-at-breakpoints($l-grid-push-apply-at-breakpoints,
    $scally-type: "l",
    $class-name: "push",
    $css-property: "left"
  );
}// endif