/* ======================================================================================
   @LAYOUT -> GRID
   ====================================================================================== */


/**
 * A powerful fluid and nestable mobile first grid system.
 *
 * Combine with the viewport specific width classes found in 'Utilities -> Widths' to apply grid
 * widths at specific viewports, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap device, at which point
 * it becomes 50% wide, or it is on a desktop device, at which point it becomes 33.333% width.
 *
 * N.B. see breakpoints set here: 'Core -> Settings -> Breakpoints'.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/cjyHK/
 *
 * @credit
 * https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
 */


/**
 * Grid settings.
 */

/**
 * Box sizing.
 *
 * Here we set a variable assuming that `box-sizing: border-box;` is not set globally. If it has
 * been previously been defined, the following variable will be overriden and will be set to `true`.
 */

$friendly-box-model: false !default;


/**
 * Grid container.
 */

.grid {
	// Negative `margin-left` to negate the columns gutters
	@include to-rem(margin-left, -$grid-gutter-base);

	// Clear fix
	&:after {
    content: "";
    display: table;
    clear: both;
  }

  // Very infrequently occuring grid rows as children of grid rows
	> .grid {margin-left: 0;}
}


	/**
   * 1. Cause columns to stack side-by-side.
   * 2. Space columns apart.
   * 3. Full-width unless told to behave otherwise.
   * 4. Required to combine fluid widths and fixed gutters.
   */

  .grid__item {
    float: left; // [1]
    @include to-rem(padding-left, $grid-gutter-base); // [2]
    width: 100%; // [3]

    @if $friendly-box-model == false {

    	box-sizing: border-box; // [4]

    }
  }


/**
 * Modifier: gutterless.
 */

.grid--gutterless {
	margin-left: 0;

	> .grid__item {padding-left: 0;}
}


/**
 * Modifier: gutter half.
 */

.grid--gutter-half {
	@include to-rem(margin-left, -$grid-gutter-half);

	> .grid__item {@include to-rem(padding-left, $grid-gutter-half);}
}


/**
 * Modifier: gutter third.
 */

.grid--gutter-third {
	@include to-rem(margin-left, -$grid-gutter-third);

	> .grid__item {@include to-rem(padding-left, $grid-gutter-third);}
}


/**
 * Modifier: gutter quarter.
 */

.grid--gutter-quarter {
	@include to-rem(margin-left, -$grid-gutter-quarter);

	> .grid__item {@include to-rem(padding-left, $grid-gutter-quarter);}
}


/**
 * Modifier: gutter + half.
 */

.grid--gutter-base-plus-half {
	@include to-rem(margin-left, -$grid-gutter-base-plus-half);

	> .grid__item {@include to-rem(padding-left, $grid-gutter-base-plus-half);}
}


/**
 * Modifier: gutter double.
 */

.grid--gutter-double {
	@include to-rem(margin-left, -$grid-gutter-double);

	> .grid__item {@include to-rem(padding-left, $grid-gutter-double);}
}


/**
 * Modifier: reversed.
 *
 * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your markup will display in
 * order 4, 3, 2, 1 on your page.
 */

.grid--reversed > .grid__item {float: right;}


/**
 * Modifier: table.
 */

.grid--table {
	display: table;

	> .grid__item {
		display: table-cell;
		float: none;
	}
}