/* ============================================================================
   @LAYOUT -> GRID -> PUSH
   ========================================================================= */


/**
 * Push grid items over to the left by certain amounts with the option to
 * apply at all the main breakpoints.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/cjyHK/
 *
 * @credit
 * https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
 */


/**
 * Settings.
 */

// Turned off by default as this generates a lot of CSS
$l-grid-push:               false !default;

// Apply at breakpoints
$l-grid-push-breakpoints:   (lap) !default;


/**
 * Generate all the push classes.
 */

@if $l-grid-push {

  @include generate-percentage-classes-at-breakpoints($l-grid-push-breakpoints,
    $scally-type: "l",
    $class-name: "push",
    $css-property: "left"
  );

}// endif