/* ======================================================================================
   @LAYOUT -> GRID -> PULL
   ====================================================================================== */

/*
	Usage: pull classes, to move grid items over to the right by certain amounts.

	Credit: https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
*/

@mixin pull-classes($namespace: "") {

	/* Whole */
	.pull-#{$namespace}one-whole {right: $one-whole;}

	/* Halves */
	.pull-#{$namespace}one-half {right: $one-half;}

	/* Thirds */
	.pull-#{$namespace}one-third {right: $one-third;}
	.pull-#{$namespace}two-thirds {right: $two-thirds;}

	/* Quarters */
	.pull-#{$namespace}one-quarter {right: $one-quarter;}
	.pull-#{$namespace}two-quarters {right: $one-half;}
	.pull-#{$namespace}three-quarters {right: $three-quarters;}

	/* Fifths */
	.pull-#{$namespace}one-fifth {right: $one-fifth;}
	.pull-#{$namespace}two-fifths {right: $two-fifths;}
	.pull-#{$namespace}three-fifths {right: $three-fifths;}
	.pull-#{$namespace}four-fifths {right: $four-fifths;}

	/* Sixths */
	.pull-#{$namespace}one-sixth {right: $one-sixth;}
	.pull-#{$namespace}two-sixths {right: $one-third;}
	.pull-#{$namespace}three-sixths {right: $one-half;}
	.pull-#{$namespace}four-sixths {right: $two-thirds;}
	.pull-#{$namespace}five-sixths {right: $five-sixths;}

	/* Sevenths */
  .pull-#{$namespace}one-seventh {right: $one-seventh;}
  .pull-#{$namespace}two-sevenths {right: $two-sevenths;}
  .pull-#{$namespace}three-sevenths {right: $three-sevenths;}
  .pull-#{$namespace}four-sevenths {right: $four-sevenths;}
  .pull-#{$namespace}five-sevenths {right: $five-sevenths;}
  .pull-#{$namespace}six-sevenths {right: $six-sevenths;}

	/* Eighths */
	.pull-#{$namespace}one-eighth {right: $one-eighth;}
	.pull-#{$namespace}two-eighths {right: $one-quarter;}
	.pull-#{$namespace}three-eighths {right: $three-eighths;}
	.pull-#{$namespace}four-eighths {right: $one-half;}
	.pull-#{$namespace}five-eighths {right: $five-eighths;}
	.pull-#{$namespace}six-eighths {right: $three-quarters;}
	.pull-#{$namespace}seven-eighths {right: $seven-eighths;}

	/* Tenths */
	.pull-#{$namespace}one-tenth {right: $one-tenth;}
	.pull-#{$namespace}two-tenths {right: $one-fifth;}
	.pull-#{$namespace}three-tenths {right: $three-tenths;}
	.pull-#{$namespace}four-tenths {right: $two-fifths;}
	.pull-#{$namespace}five-tenths {right: $one-half;}
	.pull-#{$namespace}six-tenths {right: $three-fifths;}
	.pull-#{$namespace}seven-tenths {right: $seven-tenths;}
	.pull-#{$namespace}eight-tenths {right: $four-fifths;}
	.pull-#{$namespace}nine-tenths {right: $nine-tenths;}

	/* Twelfths */
	.pull-#{$namespace}one-twelfth {right: $one-twelfth;}
	.pull-#{$namespace}two-twelfths {right: $one-sixth;}
	.pull-#{$namespace}three-twelfths {right: $one-quarter;}
	.pull-#{$namespace}four-twelfths {right: $one-third;}
	.pull-#{$namespace}five-twelfths {right: $five-twelfths;}
	.pull-#{$namespace}six-twelfths {right: $one-half;}
	.pull-#{$namespace}seven-twelfths {right: $seven-twelfths;}
	.pull-#{$namespace}eight-twelfths {right: $two-thirds;}
	.pull-#{$namespace}nine-twelfths {right: $three-quarters;}
	.pull-#{$namespace}ten-twelfths {right: $five-sixths;}
	.pull-#{$namespace}eleven-twelfths {right: $eleven-twelfths;}
}

@if $grid-pull == true {

	/* Not a particularly great selector, but the DRYest way to do things */
	[class*="pull-"] {position: relative;}

	/* Output all the push classes */
	@include pull-classes();

	/* Output push classes under specific breakpoints applied via specific classes (namespaced) e.g. `.push-lap-one-half` */

	/* Palm large */
	@if $grid-pull-classes-at-breakpoint-palm-lrg == true {
	  @include respond-min($palm-lrg) {
	    @include pull-classes("palm-lrg-");
	  }
	}/* endif */

	/* Non palm */
	@if $grid-pull-classes-at-breakpoint-non-palm == true {
	  @include respond-min($non-palm) {
	    @include pull-classes("non-palm-");
	  }
	}/* endif */

	/* Lap */
	@if $grid-pull-classes-at-breakpoint-lap == true {
	  @include respond-range-fixed(lap) {
	    @include pull-classes("lap-");
	  }
	}/* endif */

	/* Lap small */
	@if $grid-pull-classes-at-breakpoint-lap-sml == true {
	  @include respond-range-fixed(lap-sml) {
	    @include pull-classes("lap-sml-");
	  }
	}/* endif */

	/* Lap small middle */
	@if $grid-pull-classes-at-breakpoint-lap-sml-middle == true {
	  @include respond-min($lap-sml-middle) {
	    @include pull-classes("lap-sml-middle-");
	  }
	}/* endif */

	/* Lap large middle */
	@if $grid-pull-classes-at-breakpoint-lap-lrg-middle == true {
	  @include respond-min($lap-lrg-middle) {
	    @include pull-classes("lap-lrg-middle-");
	  }
	}/* endif */

	/* Lap large */
	@if $grid-pull-classes-at-breakpoint-lap-lrg == true {
	  @include respond-range-fixed(lap-lrg) {
	    @include pull-classes("lap-lrg-");
	  }
	}/* endif */

	/* Desk */
	@if $grid-pull-classes-at-breakpoint-desk == true {
	  @include respond-min($desk) {
	    @include pull-classes("desk-");
	  }
	}/* endif */

	/* Desk small */
	@if $grid-pull-classes-at-breakpoint-desk-sml == true {
	  @include respond-range-fixed(desk-sml) {
	    @include pull-classes("desk-sml-");
	  }
	}/* endif */

	/* Desk large */
	@if $grid-pull-classes-at-breakpoint-desk-lrg == true {
	  @include respond-min($desk-lrg) {
	    @include pull-classes("desk-lrg-");
	  }
	}/* endif */

}
/* endif */