---
## View data ##
title: Base
page-style-hook: s-base

## Nav data ##
slug: base
nav-order: 2
---

<div class="l-container">

    <h1 class="c-test-case__block">Inline Textual Elements</h1>

    <a href="">Link element</a> <br>
    <abbr>Abbreviation element</abbr> <br>
    <b>Bold element</b> <br>
    <cite>Cite element</cite> <br>
    <code>Code element</code> <br>
    <del>Delete element</del> <br>
    <dfn>Definition element</dfn> <br>
    <em>Em element</em> <br>
    <i>Italic element</i> <br>
    <ins>Insert element</ins> <br>
    <kbd>Keyboard element</kbd> <br>
    <q>Quote element</q> <br>
    <s>Strike-through element</s> <br>
    <samp>Sample element</samp> <br>
    <small>Small element</small> <br>
    <strong>Strong element</strong> <br>
    <sub>Sub element</sub> <br>
    <sup>Sup element</sup> <br>
    <time>Time element</time> <br>
    <u>Underline element</u> <br>
    <var>Variable element</var>


    <h1 class="c-test-case__block">Block Textual Elements</h1>

    <mark>16/24</mark>
    <p class="__test-paragraphs">Paragraph element. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p class="__test-paragraphs">Paragraph element. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

    <mark>14/20</mark>
    <p class="h-text-size-small __test-paragraphs">Paragraph element. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p class="h-text-size-small __test-paragraphs">Paragraph element. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

    <h1>Heading 1 element</h1>
    <h2>Heading 2 element</h2>
    <h3>Heading 3 element</h3>
    <h4>Heading 4 element</h4>
    <h5>Heading 5 element</h5>
    <h6>Heading 6 element</h6>

    <h1 class='heading'>Heading 1</h1>
    <h2 class='heading'>Heading 2</h2>
    <h3 class='heading'>Heading 3</h3>
    <h4 class='heading'>Heading 4</h4>
    <h5 class='heading'>Heading 5</h5>
    <h6 class='heading'>Heading 6</h6>

    <h1 class='heading heading--size-tiny'>Heading Size Tiny</h1>
    <h2 class='heading heading--size-small'>Heading Size Small</h2>
    <h3 class='heading heading--size-large'>Heading Size Large</h3>
    <h4 class='heading heading--size-huge'>Heading Size Huge</h4>

    <h1 class='heading heading--weight-normal'>Heading Weight Normal</h1>
    <h2 class='heading heading--weight-light'>Heading Weight Light</h2>
    <h3 class='heading heading--weight-bold'>Heading Weight Bold</h3>

    <pre>Pre element. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dicta ratione nesciunt sunt laborum nostrum saepe accusantium enim atque quas dolores tempore labore exercitationem reprehenderit possimus, fuga animi, libero ipsum.</pre>

    <blockquote>Blockquote element. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusantium rem deleniti doloremque provident molestiae expedita exercitationem. Maiores quae expedita debitis fugiat at omnis similique nisi pariatur, quidem libero voluptas.</blockquote>


    <h1 class="c-test-case__block">Lists</h1>

    <ul>
        <li>Li element inside a Ul element</li>
        <li>Li element inside a Ul element</li>
        <li>Li element inside a Ul element</li>
        <li>Li element inside a Ul element</li>
    </ul>

    <ol>
        <li>Li element inside a Ol element</li>
        <li>Li element inside a Ol element</li>
        <li>Li element inside a Ol element</li>
        <li>Li element inside a Ol element</li>
    </ol>

    <dl>
        <dt>Dt element inside of a Dl element</dt>
        <dd>Dd element inside of a Dl element</dd>
        <dt>Dt element inside of a Dl element</dt>
        <dd>Dd element inside of a Dl element</dd>
    </dl>

    <details>
        <summary>Summary element inside a Details element</summary>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </details>


    <h1 class="c-test-case__block">Tables</h1>

    <table>
        <caption>Caption element inside a Table element</caption>
        <thead>
            <tr>
                <th>Th element inside: Table/Thead/Tr elements</th>
                <th>Th element inside: Table/Thead/Tr elements</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Td element inside: Table/Tbody/Tr elements</td>
                <td>Td element inside: Table/Tbody/Tr elements</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Td element inside: Table/Tfoot/Tr elements</td>
                <td>Td element inside: Table/Tfoot/Tr elements</td>
            </tr>
        </tfoot>
    </table>


    <h1 class="c-test-case__block">Forms</h1>

    <form action="">
        <fieldset>
            <legend>Legend element inside: Form/Fieldset elements</legend>
        </fieldset>
        <label for="#input1">Label element inside Form element</label>
        <input type="text" id="input1">
    </form>
</div>



{{!-- {{> test-case base}} --}}
