---
## View data ##
title: Helpers
page-style-hook: s-helpers

## Nav data ##
slug: helpers
nav-order: 7
---

<div class="l-container">
    <h1 class="c-test-case__title"><strong>Helpers</strong> tests</h1>
    <p>This page is still being worked on but here are some text faces…</p>
    <div style="font-family: monospace; font-size: 50px; text-align: center;">
        <div style="color: blue; margin-bottom: 40px;">(/) (°,,°) (/)</div>
        <div style="color: chartreuse; margin-bottom: 40px;">ლ,ᔑ•ﺪ͟͠•ᔐ.ლ</div>
        <div style="color: darkorchid; margin-bottom: 40px;">( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)</div>
        <div style="color: fuchsia;">~(˘▾˘~)</div>
    </div>
</div>
