---
## View data ##
title: Home
page-style-hook: s-home

## Nav data ##
slug: home
nav-order: 0
---

<div class="l-container">
    <h1>Scally tests</h1>
    <p>Everything in Scally that can be visually rendered is here for testing purposes.</p>
    <p>Any updates to Scally requires changing the test or creating a new test, please refer to <a href="" rel="external">CONTRIBUTING.md</a>. Building this test site will run as a task in CI.</p>
    <p>When working with this sites CSS all styles must be scoped to classes and none of Scally's settings can be overridden. This ensures all tests are <strong>pure</strong>.</p>
    <h2>Built with</h2>
    <ul>
        <li><a href="https://github.com/chris-pearce/scally" rel="external">Scally</a> <em>(of course)</em></li>
        <li><a href="http://assemble.io/" rel="external">Assemble</a></li>
        <li><a href="http://gruntjs.com/" rel="external">Grunt</a></li>
        <li><a href="https://pages.github.com/" rel="external">GitHub Pages</a></li>
        <li><em>And</em> &#10084;</li>
    </ul>
</div>
