---
## View data ##
title: Normalise/Reset
page-style-hook: s-normalise-reset

## Nav data ##
slug: normalise-reset
nav-order: 1
---

<div class="l-container">
    <h1 class="c-test-case__title"><strong>Normalise/Reset</strong> tests</h1>
    <p>This page is still being worked on but here are some text faces…</p>
    <div style="font-family: monospace; font-size: 50px; text-align: center;">
        <div style="color: blue; margin-bottom: 40px;">(/) (°,,°) (/)</div>
        <div style="color: chartreuse; margin-bottom: 40px;">ლ,ᔑ•ﺪ͟͠•ᔐ.ლ</div>
        <div style="color: darkorchid; margin-bottom: 40px;">( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)</div>
        <div style="color: fuchsia;">~(˘▾˘~)</div>
    </div>
</div>
