/* ============================================================================
   @CORE -> MIXINS -> PERCENTAGE CLASSES
   ========================================================================= */


/**
 * Settings.
 */

// The fractions to be used for the classes
$percentage-divisions: (1 2 3 4 5 6 8 10 12) !default;

$numerators: (one two three four five six seven eight nine ten eleven twelve);

$denominators: (whole half third quarter fifth sixth seventh eighth nineth tenth eleventh twelfth);

@mixin generate-percentage-classes-at-breakpoints($breakpoints, $type: "u", $name: null, $property: "width") {
  @if $name {
    $name: "#{$name}-"
  }

  @include generate-percentage-classes("", $type, $name, $property);

  @each $breakpoint in $breakpoints {

    @include respond-to($breakpoint) {
      @if $breakpoint {
        $breakpoint: "#{$breakpoint}-"
      }

      @include generate-percentage-classes($breakpoint, $type, $name, $property);
    }
  }
}

@mixin generate-percentage-classes($breakpoint: "", $type: "u", $name: null, $property: "width") {
  @each $denominator in $percentage-divisions {
    @for $numerator from 1 through max($denominator - 1, 1) {
      $denominator-suffix: if($numerator == 1, "", "s");
      .#{$type}-#{$breakpoint}#{$name}#{nth($numerators, $numerator)}-#{nth($denominators, $denominator)#{$denominator-suffix}} {#{$property}: percentage($numerator/$denominator);}
    }
  }
}