/* ============================================================================
   @CORE -> MIXINS -> RETINA BACKGROUND IMAGE
   ========================================================================= */


/**
 * Creates a retina background image.
 *
 * @example
   .foo {
      background: url("logo.png") no-repeat;
      @include retina-bg-image("logo@2x.png", 100px, 25px, 1.5);
    }
  *
  * @credit
  * http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
 */


@mixin retina-bg-image($image, $width: auto, $height: auto, $resolution: $retina-resolution) {
  $width: if($width, $width, auto);
  $height: if($height, $height, auto);
  $resolution: if(unitless($resolution), $resolution * 96dpi, $resolution);
  
  @media (min-resolution: $resolution) {
    background-image: url($image);
    background-size: $width $height;
  }
}