/* ============================================================================
   @CORE -> MIXINS -> TARGET HEADINGS
   ========================================================================= */


/**
 * Style any number of headings in one fell swoop, supports double stranded
 * headings.
 *
 * @example
   .foo {
     @include headings(1, 3) {
       color: red;
     }
    }
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/Bcfyz#target-headings
 *
 * @credit
 * https://github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss
 */


@mixin headings($from: 1, $to: 6, $double-stranded: false) {

  %base-heading {
    @content
  }

  @if $from >= 1 and $to <= 6 {
    @for $i from $from through $to {

      $selector: "h#{$i}";

      @if $double-stranded {
        $selector: "#{$selector},.#{$selector}";
      }

      #{$selector} {
        @extend %base-heading;
      }
    }
  }

  else {
    @warn "You can only target headings 1 to 6";
  }
}