/* ============================================================================
   @CORE -> @DEBUG
   ========================================================================= */


/**
 * Enable this stylesheet to visually detect any improperly nested or
 * potentially invalid markup, or any potentially inaccessible code.
 *
 * N.B.
 * - red    = definite error.
 * - yellow = double-check.
 * - none   = should be fine.
 *
 * @credit
 * https://github.com/csswizardry/inuit.css/blob/master/inuit.css/generic/_debug.scss
 */


/**
 * Settings.
 */

// Only turn on when you need to debug
$apply-debug-mode: false !default;


@if $apply-debug-mode {

  /**
   * Images require `alt` attributes, empty `alt`s are fine but should be
   * double-checked, no `alt` are bad and are flagged red.
   */

  img {outline: 5px solid red !important;}

  img[alt] {outline: none !important;}

  img[alt=""] {outline: 5px solid yellow !important;}


  /**
   * Double-check any links whose `href` is something questionable.
   */

  a[href=""],
  a[href="#"],
  a[href*="javascript"] {outline: 5px solid yellow !important;}


  /**
   * The `target` attribute ain't too nice.
   */

  a[target] {outline: 5px solid yellow !important;}


  /**
   * Ensure any lists only contain `li`s as children.
   */

  ul,
  ol {
    > *:not(li) {outline: 5px solid red !important;}
  }


  /**
   * It's always nice to give `th`s `scope` attributes.
   */

  th {outline: 5px solid yellow !important;}

  th[scope] {outline: none !important;}


  /**
   * `tr`s as children of `table`s ain't great, did you need a `thead`/`tbody`?
   */

  table > tr {outline: 5px solid yellow !important;}


  /**
   * `tfoot` needs to come *before* `tbody`.
   */

  tbody + tfoot {outline: 5px solid yellow !important;}


  /**
   * Forms require `action` attributes.
   */

  form {outline: 5px solid red !important;}

  form[action] {outline: none !important;}


  /**
   * Various form-field types have required attributes. `input`s need `type`
   * attributes, `textarea`s need `rows` and `cols` attributes and submit
   * buttons need a `value` attribute.
   */

  textarea,
  input {outline: 5px solid red !important;}

  input[type] {outline: none !important;}

  textarea[rows][cols] {outline: none !important;}

  input[type=submit] {outline: 5px solid red !important;}

  input[type=submit][value] {outline: none !important;}


  /**
   * Avoid inline styles where possible.
   */

  [style] {outline: 5px solid yellow !important;}

}// endif