/* ======================================================================================
   @CORE -> SETTINGS
   ====================================================================================== */


/**
 * All these variables are Scally default settings; they should not be modified or adjusted directly,
 * you should predefine the variables in your own overrides file and include it in your project
 * before this file.
 *
 * CONTENTS
 *
 * Typography
 * Spacing
 * Toggles
 * Breakpoints
 * Containers
 * Grid
 * Colour Palette
 * Flexible widths
 * `z-index` values
 * Disabled state opacity strength
 * Off-screen pixel value
 * Border radius
*/


/* Typography
   ========================================================================== */

/**
 * Size.
 */

// Base
$font-size: 16 !default;

// Smaller
$font-size-small:       $font-size - 1 !default;

$font-size-x-small:     $font-size - 2 !default;

$font-size-xx-small:    $font-size - 3 !default;

$font-size-xxx-small:   $font-size - 4 !default;

// Larger
$font-size-large:       $font-size + 1 !default;

$font-size-x-large:     $font-size + 2 !default;

$font-size-xx-large:    $font-size + 3 !default;

$font-size-xxx-large:   $font-size + 4 !default;

// Headings
$font-size-heading-1: 36 !default;

$font-size-heading-2: 30 !default;

$font-size-heading-3: 24 !default;

$font-size-heading-4: 20 !default;

$font-size-heading-5: 16 !default;

$font-size-heading-6: 14 !default;

/**
 * Line height.
 */

$line-height: 24 !default;

/**
 * Line height ratio.
 */

$line-height-ratio: $line-height / $font-size !default;

/**
 * Families.
 */

// Base
$font-family-base:   Arial, sans-serif !default;

// Icons
$font-family-icons:  "Icons";

// Serif
$font-family-serif:  Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif !default;

// Monospaced (good for code)
$font-family-mono:   Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !default;




/* Spacing
   ========================================================================== */

/**
 * Base.
 */

$spacing-base: $line-height !default;

/**
 * Decrease from base.
 */

                                                            // These values are based on the Scally
                                                            // default of `16px`.

// Half
$spacing-half:             $spacing-base / 2 !default;      // 12

// Thirds
$spacing-third:            $spacing-base / 3 !default;      // 8
$spacing-two-thirds:       $spacing-third * 2 !default;     // 16

// Quarters
$spacing-quarter:          $spacing-base / 4 !default;      // 6
$spacing-three-quarters:   $spacing-quarter * 3 !default;   // 18

// Fifths
$spacing-fifth:            $spacing-base / 5 !default;      // 4.8
$spacing-two-fifths:       $spacing-fifth * 2 !default;     // 9.6
$spacing-three-fifths:     $spacing-fifth * 3 !default;     // 14.4
$spacing-four-fifths:      $spacing-fifth * 4 !default;     // 19.2

// Sixth
$spacing-sixth:            $spacing-base / 6 !default;      // 4

// Micro
$spacing-micro:            2 !default;                      // 2

/**
 * Increase from base.
 */

// + Half
$spacing-base-plus-half:            $spacing-base + $spacing-half !default;            // 36

// + Thirds
$spacing-base-plus-third:           $spacing-base + $spacing-third !default;           // 32
$spacing-base-plus-two-thirds:      $spacing-base + ($spacing-third * 2) !default;     // 40

// + Quarters
$spacing-base-plus-quarter:         $spacing-base + $spacing-quarter !default;         // 30
$spacing-base-plus-three-quarters:  $spacing-base + ($spacing-quarter * 3) !default;   // 42

// + Fifths
$spacing-base-plus-fifth:           $spacing-base + $spacing-fifth !default;           // 28.8
$spacing-base-plus-two-fifths:      $spacing-base + ($spacing-fifth * 2) !default;     // 33.6
$spacing-base-plus-three-fifths:    $spacing-base + ($spacing-fifth * 3) !default;     // 38.4
$spacing-base-plus-four-fifths:     $spacing-base + ($spacing-fifth * 4) !default;     // 43.2

// + Sixth
$spacing-base-plus-sixth:           $spacing-base + $spacing-sixth !default;           // 28

// + Micro
$spacing-base-plus-micro:           $spacing-base + 2 !default;                        // 26

// Double
$spacing-double:                    $spacing-base * 2 !default;                        // 48

// Triple
$spacing-triple:                    $spacing-base * 3 !default;                        // 72

// Quadruple
$spacing-quadruple:                 $spacing-base * 4 !default;                        // 96




/* Toggles
   ========================================================================== */

/**
 * Debug.
 */

$debug-mode: false !default;

/**
 * Border box.
 *
 * Do you want all elements to adopt the nicer `box-sizing: border-box;` box model as per
 * http://paulirish.com/2012/box-sizing-border-box-ftw?
 */

$friendly-box-model: true !default;

/**
 * Grid.
 */

// Push
$grid-push: false !default;

// Pull
$grid-pull: false !default;

/**
 * Heading margins.
 */

$heading-margins: true !default;

/**
 * Forms.
 */

// Disabled state
$disabled-state: true !default;

// Text input and select styles
$form-text-input-and-select-styles: true !default;

// Text input and select padding
$form-text-input-and-select-padding: $spacing-quarter !default;

// Remove the top inner shadow from iOS inputs
$remove-top-inner-shadow-from-ios-inputs: false !default;

// Hide the close button generated by IE 10+ for `input[type="search"]`
$hide-close-button-for-ie10plus-inputs: false !default;

/**
 * Apply device width viewport.
 */

$viewport-device-width: true !default;

/**
 * Apply classes at specific breakpoints.
 */

// Width classes mainly used with the grid
$width-classes-at-breakpoint-palm-large:              false !default;
// N.B. we turn `non-palm` on by default as the grid needs this
$width-classes-at-breakpoint-non-palm:                true !default;
$width-classes-at-breakpoint-lap:                     false !default;
$width-classes-at-breakpoint-lap-small:               false !default;
$width-classes-at-breakpoint-lap-small-middle:        false !default;
$width-classes-at-breakpoint-lap-large-middle:        false !default;
$width-classes-at-breakpoint-lap-large:               false !default;
$width-classes-at-breakpoint-desk:                    false !default;
$width-classes-at-breakpoint-desk-small:              false !default;
$width-classes-at-breakpoint-desk-large:              false !default;

// Grid push
$grid-push-classes-at-breakpoint-palm-large:          false !default;
$grid-push-classes-at-breakpoint-non-palm:            false !default;
$grid-push-classes-at-breakpoint-lap:                 false !default;
$grid-push-classes-at-breakpoint-lap-small:           false !default;
$grid-push-classes-at-breakpoint-lap-small-middle:    false !default;
$grid-push-classes-at-breakpoint-lap-large-middle:    false !default;
$grid-push-classes-at-breakpoint-lap-large:           false !default;
$grid-push-classes-at-breakpoint-desk:                false !default;
$grid-push-classes-at-breakpoint-desk-small:          false !default;
$grid-push-classes-at-breakpoint-desk-large:          false !default;

// Grid pull
$grid-pull-classes-at-breakpoint-palm-large:          false !default;
$grid-pull-classes-at-breakpoint-non-palm:            false !default;
$grid-pull-classes-at-breakpoint-lap:                 false !default;
$grid-pull-classes-at-breakpoint-lap-small:           false !default;
$grid-pull-classes-at-breakpoint-lap-small-middle:    false !default;
$grid-pull-classes-at-breakpoint-lap-large-middle:    false !default;
$grid-pull-classes-at-breakpoint-lap-large:           false !default;
$grid-pull-classes-at-breakpoint-desk:                false !default;
$grid-pull-classes-at-breakpoint-desk-small:          false !default;
$grid-pull-classes-at-breakpoint-desk-large:          false !default;

// Column classes for the 'Columns' abstraction
$col-classes-at-breakpoint-palm-large:                false !default;
$col-classes-at-breakpoint-non-palm:                  false !default;
$col-classes-at-breakpoint-lap:                       false !default;
$col-classes-at-breakpoint-lap-small:                 false !default;
$col-classes-at-breakpoint-lap-small-middle:          false !default;
$col-classes-at-breakpoint-lap-large-middle:          false !default;
$col-classes-at-breakpoint-lap-large:                 false !default;
$col-classes-at-breakpoint-desk:                      false !default;
$col-classes-at-breakpoint-desk-small:                false !default;
$col-classes-at-breakpoint-desk-large:                false !default;




/* Breakpoints
   ========================================================================== */

/**
 * Here we set breakpoints. Not every media query will be able to use one of these breakpoints and
 * that's fine as they're no magic numbers with breakpoints i.e. if the UI needs to change then it
 * needs to change. But most of the time we can use them.
 *
 * The breakdown of the breakpoints is based off this chart:
 * http://static.lukew.com/unified_device_design.png
 *
 * Here's the thinking:
 *
 * - Palm: smartphones and featurephones i.e. anything that can fit into the palm of a hand.
 * - Lap: typically tablets, notebooks and laptops i.e. anything that is portable that doesn't
 *   include phones.
 * - Lap small: smaller tablets/notebooks and e-readers e.g. Kindle.
 * - Lap large: larger tablets and laptops.
 * - Desk: desktop computers, TV's, etc. i.e. anything that is not portable.
 * - Desk small: smaller desktop computer monitors.
 * - Desk large: larger desktop computer monitors, TV's, and who knows what else?
 *
 * The breakpoints:
 *
 * - Palm:                      0 - 640px
 *
 * - Lap:                       641px - 1199px
 * - Lap and up:                641px +
 * - Lap small:                 641px - 900px
 * - Lap large:                 901px - 1199px
 * - Lap large and up:          901px +
 *
 * - Desk and up:               1200px +
 * - Desk small:                1200px - 1365px
 * - Desk large and up:         1366px +
 *
 * @credit
 * - http://www.lukew.com/ff/entry.asp?1679
 * - https://developers.google.com/webmasters/smartphone-sites/details?hl=en
 */

/**
 * Start and end points.
 */

// Start points
$lap-start:           (641 / 16)+em !default;

$lap-large-start:     (901 / 16)+em !default;

$desk-start:          (1200 / 16)+em !default;

$desk-large-start:    (1366 / 16)+em !default;

// End points
$palm-end:            $lap-start - 1 !default;

$lap-end:             $desk-start - 1 !default;

$lap-small-end:       $lap-large-start - 1 !default;

$desk-small-end:      $desk-large-start - 1 !default;

/**
 * Readable breakpoints.
 */

$breakpoints: (

  // Palm
  "palm"                $palm-end,

  // Lap
  "lap-and-up"          $lap-start,
  "lap-large-and-up"    $lap-large-start,

  // Desk
  "desk-and-up"         $desk-start,
  "desk-large-and-up"   $desk-large-start

) !default;


/* Containers
   ========================================================================== */

/**
 * Page container width.
 */

$page-container-width: 92% !default;

/**
 * Page container min-width.
 */

$page-container-min-width: 220 !default;

/**
 * Page container max-width.
 */

$page-container-max-width: 1600 !default;

/**
 * Page container gutter.
 */

$page-container-gutter: 4% !default;




/* Grid
   ========================================================================== */

$grid-gutter: $spacing-base !default;
$grid-gutter-double: $spacing-double !default;
$grid-gutter-half: $spacing-half !default;




/* Color palette
   ========================================================================== */

/**
 * @credit http://ethanschoonover.com/solarized
 */

/**
 * Brand.
 */

$color-brand: #2aa198 !default;

/**
 * Black.
 */

$color-black: #000 !default;

/**
 * White.
 */

$color-white: #fff !default;

/**
 * Text.
 */

// Base
$color-text-base: $color-black !default;

/**
 * `html` element background.
 */

$color-html-element-bg: $color-white !default;

/**
 * Buttons / CTA's.
 */

// Primary
$color-btn-cta-primary: $color-brand !default;

// Secondary
$color-btn-cta-secondary: lighten($color-brand, 10%) !default;

/**
 * Links.
 */

$color-link: $color-brand !default;

// Hover
$color-link-hover: darken($color-link, 10%) !default;

/**
 * States.
 */

// Error
$color-state-error: #dc322f !default;

// Success
$color-state-success: #859900 !default;

// Warning
$color-state-warning: #b58900 !default;

// Information
$color-state-information: #268bd2 !default;

/**
 * Forms.
 */

// Input text
$color-form-input-text: $color-text-base !default;

// Input background
$color-form-input-bg: $color-white !default;

// Input border
$color-form-input-border: lighten($color-black, 30%) !default;




/* Flexible widths
   ========================================================================== */

/**
 * Whole.
 */

$one-whole: 100% !default;

/**
 * Halves.
 */

$one-half: 50% !default;

/**
 * Thirds.
 */

$one-third: (100/3)*1% !default;
$two-thirds: (100/3)*2% !default;

/**
 * Quarters.
 */

$one-quarter: (100/4)*1% !default;
$two-quarters: $one-half !default;
$three-quarters: (100/4)*3% !default;

/**
 * Fifths.
 */

$one-fifth: (100/5)*1% !default;
$two-fifths: (100/5)*2% !default;
$three-fifths: (100/5)*3% !default;
$four-fifths: (100/5)*4% !default;

/**
 * Sixths.
 */

$one-sixth: (100/6)*1% !default;
$two-sixths: $one-third !default;
$three-sixths: $one-half !default;
$four-sixths: $two-thirds !default;
$five-sixths: (100/6)*5% !default;

/**
 * Sevenths.
 */

$one-seventh: (100/7)*1% !default;
$two-sevenths: (100/7)*2% !default;
$three-sevenths: (100/7)*3% !default;
$four-sevenths: (100/7)*4% !default;
$five-sevenths: (100/7)*5% !default;
$six-sevenths: (100/7)*6% !default;

/**
 * Eighths.
 */

$one-eighth: (100/8)*1% !default;
$two-eighths: $one-quarter !default;
$three-eighths: (100/8)*3% !default;
$four-eighths: $one-half !default;
$five-eighths: (100/8)*5% !default;
$six-eighths: $three-quarters !default;
$seven-eighths: (100/8)*7% !default;

/**
 * Tenths.
 */

$one-tenth: (100/10)*1% !default;
$two-tenths: $one-fifth !default;
$three-tenths: (100/10)*3% !default;
$four-tenths: $two-fifths !default;
$five-tenths: $one-half !default;
$six-tenths: $three-fifths !default;
$seven-tenths: (100/10)*7% !default;
$eight-tenths: $four-fifths !default;
$nine-tenths: (100/10)*9% !default;

/**
 * Twelfths.
 */

$one-twelfth: (100/12)*1% !default;
$two-twelfths: $one-sixth !default;
$three-twelfths: $one-quarter !default;
$four-twelfths: $one-third !default;
$five-twelfths: (100/12)*5% !default;
$six-twelfths: $one-half !default;
$seven-twelfths: (100/12)*7% !default;
$eight-twelfths: $two-thirds !default;
$nine-twelfths: $three-quarters !default;
$ten-twelfths: $five-sixths !default;
$eleven-twelfths: (100/12)*11% !default;




/* `z-index` values
   ========================================================================== */

/**
 * Nice way to maintain `z-index` order.
 *
 * N.B. visit here for the full details of this technique:
 * http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
 *
 * @credit
 * http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
 */

// Update according to your project elements
$z-index-elements: header, main, footer !default;

/**
 * High value.
 *
 * N.B. this should not be used, instead use the above technique.
 */

$z-index-high: 1000 !default;

/**
 * Maximum value there can ever be.
 */

$z-index-max: 2147483647 !default;




/* Disabled state opacity strength
   ========================================================================== */

$disabled-state-opacity-strength: 0.6 !default;




/* Off-screen pixel value
   ========================================================================== */

$off-screen-distance: -9999px !default;




/* Border radius
   ========================================================================== */

$border-radius: 4px !default;