/* ============================================================================
   @CORE -> BASE -> DETAILS
   ========================================================================= */


/**
 * Settings.
 */

$apply-details-marker: false !default;


summary {
  cursor: pointer;


  /**
   * Control the visibility of the `detail`s marker.
   */

  @if $apply-details-marker {
    &::-webkit-details-marker {display: none;}
  }
}