/* ======================================================================================
   @CORE -> BASE -> HORIZONTAL RULE
   ====================================================================================== */

/**
 * @credit http://html5boilerplate.com/
 */

hr {
  @extend %core-bottom-spacing;
  display: block;
  @include to-rem(height, 1);
  border: 0;
  border-top: 1px solid $color-text-base;
  padding: 0;
}