/* ============================================================================
   @CORE -> BASE -> HORIZONTAL RULE
   ========================================================================= */


/**
 * Settings.
 */

$hr-colour:       $colour-text-base !default;

$hr-style:        solid !default;

$hr-thickness:    1 !default;


hr {
  @extend %c-bottom-spacing;
  display: block;
  border: 0;
  @include to-rem(border, $hr-thickness $hr-style $hr-colour);
  padding: 0;
}