/* ============================================================================
   @CORE -> BASE -> LINKS
   ========================================================================= */


/**
 * Settings.
 */

$link-color:         $color-brand !default;

$link-color-hover:   darken($link-color, 10%) !default;


a {
  color: $link-color;
  text-decoration: none;

  &:hover,
	&:focus {
    color: $link-color-hover;
    text-decoration: underline;
	}
}