/* ============================================================================
   @CORE -> BASE -> LINKS
   ========================================================================= */


/**
 * @demo
 * http://codepen.io/team/westfieldlabs/full/zIgBs/
 */


a {
	color: $colour-link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $colour-link-hover;
		text-decoration: underline;
	}
}