/* ======================================================================================
   @CORE -> BASE -> LINKS
   ====================================================================================== */

a {
	color: $color-link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $color-link-hover;
		text-decoration: underline;
	}
}