/* ============================================================================
   @CORE -> BASE -> MEDIA
   ========================================================================= */


/**
 * Settings.
 */

$apply-responsive-images:                             true !default;

$google-map-selector-to-turn-off-responsive-images:   ".gm-style" !default;


/**
 * Remove the gap between media elements and the bottom of their containers.
 *
 * @credit
 * http://html5boilerplate.com/
 */

audio,
canvas,
img,
svg,
video {vertical-align: middle;}


/**
 * Images.
 *
 * 1. Make responsive.
 * 2. So that `alt` text is visually offset if images don't load.
 */

img {

  @if $apply-responsive-images {
    max-width: 100%; // [1]
    height: auto; // [1]

    /**
     * Google Maps breaks if `max-width: 100%` acts upon it; use their
     * selector to remove the effects.
     */

    #{$google-map-selector-to-turn-off-responsive-images} & {max-width: none;}
  }

  font-style: italic; // [2]
}


/**
 * If responsive images are turned on then use this to turn it off.
 */

.img-not-responsive {max-width: none;}


/**
 * Set the default behavior for touch-based browsing in IE 10 on devices
 * running Windows 8.
 */

canvas {-ms-touch-action: double-tap-zoom;}