/* ============================================================================
   @CORE -> BASE -> ROOT
   ========================================================================= */


/**
 * The root element: `html`.
 *
 * 1. Set the default `font-size`, `line-height` and `font-family` for the
 *    entire project, sourced from the Scally settings. The `font-size` is
 *    calculated to exist in `em`s, the `line-height` is calculated to exist
 *    unitlessly.
 * 2. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */


/**
 * Settings.
 */

$html-element-background-colour: $colour-white !default;


html {
  font: ($font-size/16)+em/$line-height-ratio $font-family-base; // [1]
  color: $colour-text-base;
  background: $html-element-background-colour;
  -moz-osx-font-smoothing: grayscale; // [2]
  -webkit-font-smoothing: antialiased; // [2]
}