/* ======================================================================================
   @CORE -> BASE -> TABLES
   ====================================================================================== */

/**
 * Various table styles applied by classes.
 *
 * .table               - Base
 * .table-striped       - Striped table
 * .table-bordered      - Bordered table
 * .table-compact       - No cell padding
 * .table-horiz-scroll  - Enable horizontal scrolling within a container for wide tables
 *
 * Styleguide Tables
 */


/**
 * Base
 */

.table {
  @extend %base-bottom-spacing;
	width: 100%;

  // Shared
  th,
  caption {
    text-align: left;
    font-weight: bold;
  }

  // Caption
  caption {@extend %base-bottom-spacing;}

  // Cells
  th,
  td {
    @include to-rem(padding, $spacing-quarter);

    @include respond-min($non-palm) {
      @include to-rem(padding, $spacing-half);
    }
  }
}


/**
 * Modifier: striped
 */

.table--striped tbody tr:nth-of-type(odd) {background-color: $color-grey-light;}


/**
 * Modifier: horizontal scroll; enable horizontal scrolling within a container for wide tables
 */

.table--horiz-scroll {
  @extend %base-bottom-spacing;
  @extend %base-smooth-touch-scrolling;
  overflow-x: auto;
}


/**
 * Modifier: bordered
 */

.table--bordered {

  th,
  td {
    border: 1px solid $color-grey-light;

    // No borders for empty cells
    &:empty {border: 0;}
  }
}


/**
 * Modifier: fixed; allows the `overflow` property to be used to handle content that exceeds the
 * width of a table cell.
 */

.table--fixed {table-layout: fixed;}


/**
 * Modifier: compact; no cell padding
 */

.table--compact {
  th,
  td {padding: 0;}
}