/* ======================================================================================
   @CORE -> BASE -> TABLES
   ====================================================================================== */

/**
 * Various table styles applied by classes.
 *
 * .table               - Base
 * .table-striped       - Striped table
 * .table-bordered      - Bordered table
 * .table-compact       - No cell padding
 * .table-horiz-scroll  - Enable horizontal scroll bar on table container
 *
 * Styleguide Tables
 */


/**
 * Base
 */

.table {
  @extend %base-bottom-spacing;
	width: 100%;

  // Cells
  th,
  td {
    @include to-rem(padding, $spacing-quarter);

    @include respond-min($non-palm) {
      @include to-rem(padding, $spacing-half);
    }
  }

  // Cell header
  th {font-weight: bold;}

  // Caption, if you want this to look like one of the headings then apply the relevant heading
  // class e.g. `.h2`.
  caption {
    font-weight: bold;
    @extend %base-bottom-spacing;
  }

  // Alignments
  caption,
  th {text-align: left;}

  [colspan] {text-align: center;}

  [colspan="1"] {text-align: left;}

  [rowspan] {vertical-align: middle;}

  [rowspan="1"] {vertical-align: top;}
}


/**
 * Modifier: striped
 */

.table--striped tbody tr:nth-of-type(odd) {background-color: $color-grey-light;}


/**
 * Modifier: enable horizontal scroll bar when you have very wide tables
 */

.table--horiz-scroll {
  @extend %base-bottom-spacing;
  @extend %base-smooth-touch-scrolling;
  overflow-x: auto;
}


/**
 * Modifier: bordered
 */

.table--bordered {

  th,
  td {
    border: 1px solid $color-grey-light;

    // No borders for empty cells
    &:empty {border: 0;}
  }

	// Thicker border for the last row in the `thead`
  thead tr:last-child th {border-bottom-width: 2px;}
}


/**
 * Modifier: allows the `overflow` property to be used to handle content that exceeds the width of
 * a table cell.
 */

.table--fixed {table-layout: fixed;}


/**
 * No cell padding
 */

.table--compact {
  &,
  th,
  td {padding: 0;}
}