/* ======================================================================================
   @OBJECTS & ABSTRACTIONS -> DISGUISED LINK
   ====================================================================================== */

/*
	Make a link not look like a link.
*/

.disguised-link {
  color: inherit;
  text-decoration: inherit;
  cursor: text;

  &:visited,
  &:hover,
  &:focus {color: inherit;}
}