/* ============================================================================
   COMPONENTS -> CODE FORMATTING
   ========================================================================= */

/**
 * Styles for code.
 */


.c-code {
    background-color: $scally-g-color-white;
    border-radius: 3px;
    color: $scally-g-color-text-base;
    font-family: $scally-g-font-family-monospace;
    font-weight: normal;
    padding: rem(3) rem(6);
}

/**
 * Modifier: block.
 */

.c-code--block {
    padding: rem($scally-g-spacing-small);
}
