/* ============================================================================
   COMPONENTS -> TEST CASE
   ========================================================================= */

/**
 * This component encapsulates the styles for each test case.
 */


/**
 * Settings.
 */

$c-test-case-block-border-width: 5px;

$c-test-case-legend-key-size: 12;

$c-test-case-test-subject-height: 300;


/**
 * Header.
 */

.c-test-case__header {
    margin-bottom: rem($scally-g-spacing-large);
}

/**
 * Header blocks.
 */

.c-test-case__header-block {
    margin-top: rem($scally-g-spacing-small);
}


/**
 * Test section container.
 */

.c-test-case__section:not(:last-child) {
    margin-bottom: rem($scally-g-spacing-3x-large);
}


/**
 * Test section heading.
 */

.c-test-case__section-heading {
    margin-bottom: rem($scally-g-spacing-x-small);
}


/**
 * Generic container blocks.
 *
 * 1. Needed to make room for the counter pseudo elements.
 */

.c-test-case__block {
    background-color: $g-color-light-grey;
    border-left: $c-test-case-block-border-width solid $g-color-brand;
    color: $g-color-dark-grey;
    display: flex;
    margin-bottom: rem($scally-g-spacing-base);
    margin-top: rem($scally-g-spacing-base);
    padding: rem($scally-g-spacing-base);
    padding-left: rem($scally-g-spacing-5x-large - $scally-g-spacing-2x-small); // [1]
}

// Adjacent blocks get a thinner border width
.c-test-case__counter-slave .c-test-case__block {
    border-left-width: $c-test-case-block-border-width - 1;
}


/**
 * When there is a legend apply the test canvas and test subject background
 * colours.
 */

/**
 * Apply the test canvas background colour.
 */

.c-test-case__test-run {
    background-color: $g-color-test-case-canvas-background;
}

/**
 * Apply the test subject background colour. We apply this to *everything*
 * i.e. all of the test subjects inside the test subject container.
 */

.c-test-case__test-run-inner *:not(br) {
    background-color: $g-color-test-case-subject-background;
}

/**
 * Sometimes we need a container around the test subjects in order to apply
 * styles to them (see `_tests.scss`). We don't want the test subject
 * background colour to apply so that we can see the test canvas background.
 */

.c-test-case__test-run-inner--remove-test-subject-bg > div {
    background: none;
}

/**
 * Add top and bottom padding for certain test cases.
 */

.c-test-case__test-run-inner--padding-ends {
    padding-bottom: rem($scally-g-spacing-base);
    padding-top: rem($scally-g-spacing-base);
}


/**
 * Legend.
 */

.c-test-case__legend {
    display: inline-flex;
    opacity: 0.6;
    transition: opacity 0.1s ease-in;

    &:hover {
        opacity: 1;
    }
}

/**
 * Legend items.
 */

.c-test-case__legend-item {
    align-items: center;
    color: $g-color-dark-grey;
    display: flex;
    font-size: rem($scally-g-font-size-small);
    text-transform: lowercase;

    &:not(:last-child) {
        margin-right: rem($scally-g-spacing-small);
    }
}

/**
 * Legend keys.
 */

.c-test-case__legend-key {
    border-radius: 3px;
    height: rem($c-test-case-legend-key-size);
    margin-right: rem(5);
    width: rem($c-test-case-legend-key-size);
}

/**
 * Modifiers: colours for legend keys.
 */

.c-test-case__legend-key--canvas {
    background-color: $g-color-test-case-canvas-background;
}

.c-test-case__legend-key--subject {
    background-color: $g-color-test-case-subject-background;
}


/**
 * Back to top anchor.
 */

.c-test-case__back-to-top {
    margin-top: rem($scally-g-spacing-base);
}


/**
 * The CSS counters.
 */

/**
 * Counter numbers.
 */

.c-test-case__block::before {
    color: $g-color-medium-grey;
    left: rem($scally-g-spacing-base);
    position: absolute;
}

/**
 * Set the counters.
 */

// Master counter (the 'CSS selector' content)
.c-test-case__section {
    counter-reset: master;
}

.c-test-case__selector::before {
    content: counter(master);
    counter-increment: master;
}

// Slave counter (the 'description' content)
.c-test-case__counter-master {
    counter-reset: slave;
}

.c-test-case__test-description::before {
    content: counter(master) "." counter(slave);
    counter-increment: slave;
}
