/* ============================================================================
   COMPONENTS -> TEST CASE
   ========================================================================= */

/**
 * This component encapsulates the styles for each test case.
 */


/**
 * Settings.
 */

$c-test-case-block-border-width: 5px;

$c-test-case-legend-key-size: 12;

$c-test-case-test-subject-height: 300;


/**
 * Header.
 */

.c-test-case__header {
    margin-bottom: rem($scally-g-spacing-large);
}

/**
 * Header blocks.
 */

.c-test-case__header-block {
    margin-top: rem($scally-g-spacing-small);
}


/**
 * Test section container.
 */

.c-test-case__section:not(:last-child) {
    margin-bottom: rem($scally-g-spacing-3x-large);
}


/**
 * Generic container blocks.
 */

.c-test-case__block {
    background-color: $g-color-light-grey;
    border-left: $c-test-case-block-border-width solid $g-color-brand;
    color: $g-color-dark-grey;
    display: flex;
    margin-bottom: rem($scally-g-spacing-base);
    margin-top: rem($scally-g-spacing-base);
    padding: rem($scally-g-spacing-base);
}

// Adjacent blocks get a thinner border width
.c-test-case__counter-slave .c-test-case__block {
    border-left-width: $c-test-case-block-border-width - 1;
}


/**
 * Where the test is run.
 */

.c-test-case__test-run {
    background-color: $g-color-test-case-canvas-background;

    /**
     * Scally: Container.
     */

    // .l-container {
    //     background-color: $g-color-test-case-subject-background;
    //     height: $c-test-case-test-subject-height * 1px;
    // }

    // Remove the above styles when the background canvas doesn't need a
    // background colour
    // &.c-test-case__test-run--no-bg .l-container {
    //     background: none;
    //     height: auto;
    // }

    /**
     * Scally: Grid.
     */

    // Inner grid item including label
    // .l-grid__item > div {
    //     background-color: $g-color-test-case-subject-background;
    //     font-family: $scally-g-font-family-monospace;
    //     font-weight: normal;
    //     padding: 1rem;
    //     justify-content: center;
    //     width: 100%;
    // }

    // Grid alignment modifiers
    // .l-grid--align-middle,
    // .l-grid--align-bottom,
    // .l-grid--align-center,
    // .l-grid--align-right {
    //     height: $c-test-case-test-subject-height * 1px;

    //     .l-grid__item > div {
    //         height: $c-test-case-test-subject-height / 2 * 1px;
    //     }
    // }

    // Nested grids
    // .l-grid .l-grid .l-grid__item > div {
    //     background-color: darken($g-color-test-case-subject-background, 7%);
    //     height: $c-test-case-test-subject-height / 2 * 1px;
    // }

    /**
     * Highlight form elements.
     */

    // #{$scally-g-textual-inputs},
    // textarea {
    //     border: 1px solid $g-color-test-case-canvas-background;
    // }
}

/**
 * Modifier: remove the background colour on the test canvas.
 */

.c-test-case__test-run--no-bg {
    background: none;
}


/**
 * Legend.
 */

.c-test-case__legend {
    display: inline-flex;
    opacity: 0.6;
    transition: opacity 0.1s ease-in;

    &:hover {
        opacity: 1;
    }
}

/**
 * Legend items.
 */

.c-test-case__legend-item {
    align-items: center;
    color: $g-color-dark-grey;
    display: flex;
    font-size: rem($scally-g-font-size-small);
    text-transform: lowercase;

    &:not(:last-child) {
        margin-right: rem($scally-g-spacing-small);
    }
}

/**
 * Legend keys.
 */

.c-test-case__legend-key {
    border-radius: 3px;
    height: rem($c-test-case-legend-key-size);
    margin-right: rem(5);
    width: rem($c-test-case-legend-key-size);
}

/**
 * Modifiers: colours for legend keys.
 */

.c-test-case__legend-key--canvas {
    background-color: $g-color-test-case-canvas-background;
}

.c-test-case__legend-key--subject {
    background-color: $g-color-test-case-subject-background;
}


/**
 * The CSS counter styles.
 */

/**
 * Counter numbers.
 */

.c-test-case__block::before {
    color: $g-color-medium-grey;
    margin-right: rem($scally-g-spacing-small);
}

/**
 * Set the counters.
 */

// Master counter (the 'CSS selector' content)
.c-test-case__section {
    counter-reset: master;
}

.c-test-case__selector::before {
    content: counter(master);
    counter-increment: master;
}

// Slave counter (the 'description' content)
.c-test-case__counter-master {
    counter-reset: slave;
}

.c-test-case__test-description::before {
    content: counter(master) "." counter(slave);
    counter-increment: slave;
}
