/* ======================================================================================
   @LAYOUT -> GRID -> PUSH
   ====================================================================================== */

/*
	Usage: push classes, to move grid items over to the left by certain amounts.

	Credit: https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
*/

@mixin push-classes($namespace: "") {

	/* Whole */
	.push-#{$namespace}one-whole {left: $one-whole;}

	/* Halves */
	.push-#{$namespace}one-half {left: $one-half;}

	/* Thirds */
	.push-#{$namespace}one-third {left: $one-third;}
	.push-#{$namespace}two-thirds {left: $two-thirds;}

	/* Quarters */
	.push-#{$namespace}one-quarter {left: $one-quarter;}
	.push-#{$namespace}two-quarters {left: $one-half;}
	.push-#{$namespace}three-quarters {left: $three-quarters;}

	/* Fifths */
	.push-#{$namespace}one-fifth {left: $one-fifth;}
	.push-#{$namespace}two-fifths {left: $two-fifths;}
	.push-#{$namespace}three-fifths {left: $three-fifths;}
	.push-#{$namespace}four-fifths {left: $four-fifths;}

	/* Sixths */
	.push-#{$namespace}one-sixth {left: $one-sixth;}
	.push-#{$namespace}two-sixths {left: $one-third;}
	.push-#{$namespace}three-sixths {left: $one-half;}
	.push-#{$namespace}four-sixths {left: $two-thirds;}
	.push-#{$namespace}five-sixths {left: $five-sixths;}

	/* Sevenths */
  .push-#{$namespace}one-seventh {left: $one-seventh;}
  .push-#{$namespace}two-sevenths {left: $two-sevenths;}
  .push-#{$namespace}three-sevenths {left: $three-sevenths;}
  .push-#{$namespace}four-sevenths {left: $four-sevenths;}
  .push-#{$namespace}five-sevenths {left: $five-sevenths;}
  .push-#{$namespace}six-sevenths {left: $six-sevenths;}

	/* Eighths */
	.push-#{$namespace}one-eighth {left: $one-eighth;}
	.push-#{$namespace}two-eighths {left: $one-quarter;}
	.push-#{$namespace}three-eighths {left: $three-eighths;}
	.push-#{$namespace}four-eighths {left: $one-half;}
	.push-#{$namespace}five-eighths {left: $five-eighths;}
	.push-#{$namespace}six-eighths {left: $three-quarters;}
	.push-#{$namespace}seven-eighths {left: $seven-eighths;}

	/* Tenths */
	.push-#{$namespace}one-tenth {left: $one-tenth;}
	.push-#{$namespace}two-tenths {left: $one-fifth;}
	.push-#{$namespace}three-tenths {left: $three-tenths;}
	.push-#{$namespace}four-tenths {left: $two-fifths;}
	.push-#{$namespace}five-tenths {left: $one-half;}
	.push-#{$namespace}six-tenths {left: $three-fifths;}
	.push-#{$namespace}seven-tenths {left: $seven-tenths;}
	.push-#{$namespace}eight-tenths {left: $four-fifths;}
	.push-#{$namespace}nine-tenths {left: $nine-tenths;}

	/* Twelfths */
	.push-#{$namespace}one-twelfth {left: $one-twelfth;}
	.push-#{$namespace}two-twelfths {left: $one-sixth;}
	.push-#{$namespace}three-twelfths {left: $one-quarter;}
	.push-#{$namespace}four-twelfths {left: $one-third;}
	.push-#{$namespace}five-twelfths {left: $five-twelfths;}
	.push-#{$namespace}six-twelfths {left: $one-half;}
	.push-#{$namespace}seven-twelfths {left: $seven-twelfths;}
	.push-#{$namespace}eight-twelfths {left: $two-thirds;}
	.push-#{$namespace}nine-twelfths {left: $three-quarters;}
	.push-#{$namespace}ten-twelfths {left: $five-sixths;}
	.push-#{$namespace}eleven-twelfths {left: $eleven-twelfths;}
}

@if $grid-push == true {

	/* Not a particularly great selector, but the DRYest way to do things */
	[class*="push-"] {position: relative;}

	/* Output all the push classes */
	@include push-classes();

	/* Output push classes under specific breakpoints applied via specific classes (namespaced) e.g. `.push-lap-one-half` */

	/* Palm large */
	@if $grid-push-classes-at-breakpoint-palm-lrg == true {
	  @include respond-min($palm-lrg) {
	    @include push-classes("palm-lrg-");
	  }
	}/* endif */

	/* Non palm */
	@if $grid-push-classes-at-breakpoint-non-palm == true {
	  @include respond-min($non-palm) {
	    @include push-classes("non-palm-");
	  }
	}/* endif */

	/* Lap */
	@if $grid-push-classes-at-breakpoint-lap == true {
	  @include respond-range-fixed(lap) {
	    @include push-classes("lap-");
	  }
	}/* endif */

	/* Lap small */
	@if $grid-push-classes-at-breakpoint-lap-sml == true {
	  @include respond-range-fixed(lap-sml) {
	    @include push-classes("lap-sml-");
	  }
	}/* endif */

	/* Lap small middle */
	@if $grid-push-classes-at-breakpoint-lap-sml-middle == true {
	  @include respond-min($lap-sml-middle) {
	    @include push-classes("lap-sml-middle-");
	  }
	}/* endif */

	/* Lap large middle */
	@if $grid-push-classes-at-breakpoint-lap-lrg-middle == true {
	  @include respond-min($lap-lrg-middle) {
	    @include push-classes("lap-lrg-middle-");
	  }
	}/* endif */

	/* Lap large */
	@if $grid-push-classes-at-breakpoint-lap-lrg == true {
	  @include respond-range-fixed(lap-lrg) {
	    @include push-classes("lap-lrg-");
	  }
	}/* endif */

	/* Desk */
	@if $grid-push-classes-at-breakpoint-desk == true {
	  @include respond-min($desk) {
	    @include push-classes("desk-");
	  }
	}/* endif */

	/* Desk small */
	@if $grid-push-classes-at-breakpoint-desk-sml == true {
	  @include respond-range-fixed(desk-sml) {
	    @include push-classes("desk-sml-");
	  }
	}/* endif */

	/* Desk large */
	@if $grid-push-classes-at-breakpoint-desk-lrg == true {
	  @include respond-min($desk-lrg) {
	    @include push-classes("desk-lrg-");
	  }
	}/* endif */

}/* endif */