/* ======================================================================================
   @CORE -> SETTINGS -> BREAKPOINTS
   ====================================================================================== */


/**
 * Here we set breakpoints. Not every media query will be able to use one of these breakpoints and
 * that's fine as they're no magic numbers with breakpoints i.e. if the UI needs to change then it
 * needs to change. But most of the time we can use them.
 *
 * The breakdown of the breakpoints is based off this chart:
 * http://static.lukew.com/unified_device_design.png
 *
 * Here's the thinking:
 *
 * - Palm: smartphones and featurephones i.e. anything that can fit into the palm of a hand.
 * - Lap: typically tablets, notebooks and laptops i.e. anything that is portable that doesn't
 *   include phones.
 * - Lap small: smaller tablets/notebooks and e-readers e.g. Kindle.
 * - Lap large: larger tablets and laptops.
 * - Desk: desktop computers, TV's, etc. i.e. anything that is not portable.
 * - Desk small: smaller desktop computer monitors.
 * - Desk large: larger desktop computer monitors, TV's, and who knows what else?
 *
 * The breakpoints:
 *
 * - Palm:                0 - 640px
 *
 * - Lap:                 641px - 1199px
 * - Lap and up:          641px +
 * - Lap small:           641px - 900px
 * - Lap large:           901px - 1199px
 * - Lap large and up:    901px +
 *
 * - Desk and up:         1200px +
 * - Desk small:          1200px - 1365px
 * - Desk large and up:   1366px +
 *
 * @credit
 * - http://www.lukew.com/ff/entry.asp?1679
 * - https://developers.google.com/webmasters/smartphone-sites/details?hl=en
 */


/**
 * Start and end points.
 */

// Start points
$lap-start:           (641 / 16)+em !default;

$lap-large-start:     (901 / 16)+em !default;

$desk-start:          (1200 / 16)+em !default;

$desk-large-start:    (1366 / 16)+em !default;

// End points
$palm-end:            $lap-start - 1 !default;

$lap-end:             $desk-start - 1 !default;

$lap-small-end:       $lap-large-start - 1 !default;

$desk-small-end:      $desk-large-start - 1 !default;


/**
 * Readable breakpoints.
 */

$breakpoints: (

  // Palm
  "palm"                $palm-end,

  // Lap
  "lap-and-up"          $lap-start,
  "lap-large-and-up"    $lap-large-start,

  // Desk
  "desk-and-up"         $desk-start,
  "desk-large-and-up"   $desk-large-start

) !default;