/* ============================================================================
   @CORE -> SETTINGS -> COLOURS
   ========================================================================= */


/**
 * Brand.
 */

$colour-brand:                    #2aa198 !default;


/**
 * Black.
 */

$colour-black:                    #000 !default;


/**
 * White.
 */

$colour-white:                    #fff !default;


/**
 * Text.
 */

// Base
$colour-text-base:                $colour-black !default;


/**
 * Primary / Secondary.
 */

$colour-primary:                  $colour-brand !default;

$colour-secondary:                lighten($colour-brand, 10%) !default;


/**
 * States.
 */

// Error
$colour-state-error:              #dc322f !default;

// Success
$colour-state-success:            #859900 !default;

// Warning
$colour-state-warning:            #b58900 !default;

// Information
$colour-state-information:        #268bd2 !default;