/* ======================================================================================
   @CORE -> SETTINGS -> SPACING
   ====================================================================================== */


/**
 * Base.
 */

$spacing-base: $line-height !default;


/**
 * Decrease from base.
 */

                                                            // These values are based on the Scally
                                                            // default of `16px`.

// Half
$spacing-half:             $spacing-base / 2 !default;      // 12

// Thirds
$spacing-third:            $spacing-base / 3 !default;      // 8
$spacing-two-thirds:       $spacing-third * 2 !default;     // 16

// Quarters
$spacing-quarter:          $spacing-base / 4 !default;      // 6
$spacing-three-quarters:   $spacing-quarter * 3 !default;   // 18

// Fifths
$spacing-fifth:            $spacing-base / 5 !default;      // 4.8
$spacing-two-fifths:       $spacing-fifth * 2 !default;     // 9.6
$spacing-three-fifths:     $spacing-fifth * 3 !default;     // 14.4
$spacing-four-fifths:      $spacing-fifth * 4 !default;     // 19.2

// Sixth
$spacing-sixth:            $spacing-base / 6 !default;      // 4

// Micro
$spacing-micro:            2 !default;                      // 2


/**
 * Increase from base.
 */

// + Half
$spacing-base-plus-half:            $spacing-base + $spacing-half !default;            // 36

// + Thirds
$spacing-base-plus-third:           $spacing-base + $spacing-third !default;           // 32
$spacing-base-plus-two-thirds:      $spacing-base + ($spacing-third * 2) !default;     // 40

// + Quarters
$spacing-base-plus-quarter:         $spacing-base + $spacing-quarter !default;         // 30
$spacing-base-plus-three-quarters:  $spacing-base + ($spacing-quarter * 3) !default;   // 42

// + Fifths
$spacing-base-plus-fifth:           $spacing-base + $spacing-fifth !default;           // 28.8
$spacing-base-plus-two-fifths:      $spacing-base + ($spacing-fifth * 2) !default;     // 33.6
$spacing-base-plus-three-fifths:    $spacing-base + ($spacing-fifth * 3) !default;     // 38.4
$spacing-base-plus-four-fifths:     $spacing-base + ($spacing-fifth * 4) !default;     // 43.2

// + Sixth
$spacing-base-plus-sixth:           $spacing-base + $spacing-sixth !default;           // 28

// + Micro
$spacing-base-plus-micro:           $spacing-base + 2 !default;                        // 26

// Double
$spacing-double:                    $spacing-base * 2 !default;                        // 48

// Triple
$spacing-triple:                    $spacing-base * 3 !default;                        // 72

// Quadruple
$spacing-quadruple:                 $spacing-base * 4 !default;                        // 96