/* ============================================================================
   @CORE -> SETTINGS -> SPACING
   ========================================================================= */


/**
 * Base.
 */

$spacing-base:                      $line-height !default;


/**
 * Decrease from base.
 */

// Half
$spacing-half:                      $spacing-base / 2 !default;

// Thirds
$spacing-third:                     $spacing-base / 3 !default;

$spacing-two-thirds:                $spacing-third * 2 !default;

// Quarters
$spacing-quarter:                   $spacing-base / 4 !default;

$spacing-three-quarters:            $spacing-quarter * 3 !default;

// Fifths
$spacing-fifth:                     $spacing-base / 5 !default;

$spacing-two-fifths:                $spacing-fifth * 2 !default;

$spacing-three-fifths:              $spacing-fifth * 3 !default;

$spacing-four-fifths:               $spacing-fifth * 4 !default;

// Sixth
$spacing-sixth:                     $spacing-base / 6 !default;

// Micro
$spacing-micro:                     2 !default;


/**
 * Increase from base.
 */

// + Half
$spacing-base-plus-half:            $spacing-base + $spacing-half !default;

// + Thirds
$spacing-base-plus-third:           $spacing-base + $spacing-third !default;

$spacing-base-plus-two-thirds:      $spacing-base + ($spacing-third * 2)
!default;

// + Quarters
$spacing-base-plus-quarter:         $spacing-base + $spacing-quarter !default;

$spacing-base-plus-three-quarters:  $spacing-base + ($spacing-quarter * 3)
!default;

// + Fifths
$spacing-base-plus-fifth:           $spacing-base + $spacing-fifth !default;

$spacing-base-plus-two-fifths:      $spacing-base + ($spacing-fifth * 2)
!default;

$spacing-base-plus-three-fifths:    $spacing-base + ($spacing-fifth * 3)
!default;

$spacing-base-plus-four-fifths:     $spacing-base + ($spacing-fifth * 4)
!default;

// + Sixth
$spacing-base-plus-sixth:           $spacing-base + $spacing-sixth !default;

// + Micro
$spacing-base-plus-micro:           $spacing-base + 2 !default;

// Double
$spacing-double:                    $spacing-base * 2 !default;

// Triple
$spacing-triple:                    $spacing-base * 3 !default;

// Quadruple
$spacing-quadruple:                 $spacing-base * 4 !default;