/* ======================================================================================
   @UTILS -> PLACEHOLDERS -> SPRITE / ICON
   ====================================================================================== */

/*
	Common styles for sprited elements and icon fonts.
*/

%sprite-icon {
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	position: relative;
  top: -1px;
}