<div class="l-container">
    <ul class="c-test-case__legend c-test-case__header-block" aria-hidden="hidden">
        <li class="c-test-case__legend-item">
            <span class="c-test-case__legend-key c-test-case__legend-key--canvas"></span>
            <span class="c-test-case__legend-value">Canvas</span>
        </li>
        <li class="c-test-case__legend-item c-test-case__legend-subject">
            <span class="c-test-case__legend-key c-test-case__legend-key--subject"></span>
            <span class="c-test-case__legend-value">Test subject</span>
        </li>
    </ul>
</div>
