/* ======================================================================================
   @BASE -> FORMS
   ====================================================================================== */

/* Indicate that `label` will shift focus to the associated `input` element */
label {cursor: pointer;}

/* Override `content-box` from Normalize for search inputs */
input[type="search"] {@include prefix(box-sizing, border-box);}

/* Disabled state */

/*
  Note: it is okay to use `!important` here as we're doing it pre-emptively i.e. you know you will always want the rule it's applied too to take precedence.
*/

button[disabled],
input[disabled],
select[disabled],
textarea[disabled],
.is-disabled {
  cursor: not-allowed !important;
  text-shadow: none !important;
  box-shadow: none !important;
  opacity: 0.6 !important;
}

/* Modifier: prevent hover/focus states being applied */
.is-disabled--no-hover {
  color: inherit !important;
  background: inherit !important;
}

/* 'Required field' indicator (asterisk) */
.req-field {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1;
  color: $color-feedback-error;
  cursor: help;
}

/* Make these styles optional as they're quite opinionated */
@if $form-base-styles == true {

  /*
    Text inputs via the `.txt-input` class, `textarea` and `select` (`select` only for non-touch as styling `select`s for the likes of iOS and Android is too inconsistent)
  */
  .txt-input,
  textarea,
  .no-touch select {
    color: $color-txt-base;
    border-radius: $border-radius;
    border: 1px solid lighten($color-black, 50%);
    background: $color-white;

    &:focus {
      border-color: $color-brand;
      box-shadow: 0 0 0 1px $color-brand;
    }
  }

  .txt-input,
  textarea {
    @include to-rem(padding, $spacing-third $spacing-half);

    &:focus {outline: none;}
  }

  textarea {resize: vertical;}

  /* Select list (only for non-touch) */
  .no-touch select {@include to-rem(padding, $spacing-third);}

  /* Modifiers: alternate widths */

  /*
    Note: need to get ugly and increase the specficity due to inputs usually being embedded in other modules which apply their own widths.
  */
  html .txt-input.txt-input--sml {width: 30%;}

  html .txt-input.txt-input--med {width: 60%;}

  /* Placeholder */
  @include input-placeholder {
  	color: $color-txt-light;
  	font-style: italic;
  }

  /* Firefox 19+ sets an opacity on placeholder text by default so we need to reset it */
  ::-moz-placeholder {opacity: 1;}

}/* endif */

@if $disable-zooming-of-form-elements-on-ios-android == true {

  /* Disable zooming of `input`s and `select`s for iOS/iPhone and Android when focused by setting to `16px`, turn this off if you're base font size is `16px` */
  .iphone,
  .android {
    .txt-input,
    textarea,
    select {
      &:focus {font-size: 16px;}
    }
  }

}/* endif */