/* ======================================================================================
   @BASE -> LINKS
   ====================================================================================== */

a {
	@extend %transition-subtle;
	color: $color-link;
	text-decoration: none;

	&:hover,
	&:focus {color: $color-link-hover;}

	/* Make `tel` links not look like links for non-phone devices at this breakpoint */
	@include respond-min($non-palm) {
		&[href^="tel:"] {
			@include disguised-link;

			&:focus {outline: none;}
		}
	}
}

/* Print */
@media print {
	/* Show the `href` and `title` attr values after the element */
	a[href]:after,
	abbr[title]:after {
		font-size: 80%;
		color: $color-link !important;
	}

	a[href]:after {content: " (" attr(href) ")";}

	abbr[title]:after {content: " (" attr(title) ")";}

	/* Don't show the `href` attr value for the following */
	a[href^="tel:"]:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {content: "";}
}