/* ============================================================================
   BASE
   ========================================================================= */

/**
 * Here we provide very basic styling that most of the tests will need. Some
 * of this styling builds on top of Scally's "Base".
 *
 * N.B. no element selectors can be used so that styles don't interfere with
 * the Scally Base styles, the exception is links.
 *
 * CONTENTS:
 *
 * 1. Code
 */




/* 1. Code
   ========================================================================= */

.b-code {
    background-color: $scally-g-color-white;
    border-radius: 3px;
    color: $scally-g-color-text-base;
    font-family: $scally-g-font-family-monospace;
    font-weight: normal;
    padding: rem(3) rem(6);
}
