@charset 'UTF-8';

/* ============================================================================
   SCALLY TEST SITE STYLESHEET
   ========================================================================= */

/**
 * CONTENTS:
 *
 * 1. Project settings
 * 2. Scally library
 * 3. Project styles
 *
 * N.B. the above order of sections #1 and #2 must be maintained otherwise Sass
 * will not compile!
 */




/* 1. Project settings
   ========================================================================= */

@import 'settings';




/* 2. Scally library
   ========================================================================= */

@import '../../../../src/settings';

// Temporary mixins/functions until the completed partial is done
@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}
@function rem($value) {
    @if type-of($value) != "number" {
        @error "You have to enter only a number for `$value`. You entered `#{$value}`.";
    }
    @return strip-unit($value) / strip-unit(16) * 1rem;
}
@function bp($breakpoint) {
    @if not map-has-key($scally-g-breakpoints, $breakpoint) {
        @error "Sorry but `#{$breakpoint}` doesn't exist as a breakpoint name in the "Breakpoints" map.";
    }
    @return map-get($scally-g-breakpoints, $breakpoint);
}


@import '../../../../src/normalise-reset';




/* 3. Project styles
   ========================================================================= */

/**
 * Layout.
 */

@import 'layout/l-header';

@import 'layout/l-main';


/**
 * Components.
 */

@import 'components/c-test-case';

@import 'components/c-file-path';

@import 'components/c-code-inline';


/**
 * Tests.
 */

@import 'tests'
